[2019-09-07 12:54] isaacabraham opened #1 "Support for CosmosDB"

[2019-09-07 12:54] isaacabraham opened #2 "Support for SqlAzure"

[2019-09-07 12:54] isaacabraham opened #3 "Support for Virtual Machines"

[2019-09-07 12:55] isaacabraham opened #4 "Support for Azure Functions"

[2019-09-11 16:05] #1 closed

[2019-09-11 20:03] #2 closed

[2019-09-11 23:40] #4 closed

[2019-09-11 23:49] panesofglass opened #8 "Support templates with variables"
I could see this being really useful for creating reusable templates to add to an Azure .org for repeat deployments with different names. I get that is not the primary use case, but this would certainly help that use case.

[2019-09-12 14:10] BrianVallelunga opened #9 "SampleApp is netcoreapp3.0?"
Is there a reason the sample app is 3.0? It seems to compile and run fine as netcoreapp2.2.

[2019-09-12 15:34] mikhailshilkov opened #10 "Locations without backticks?"
Don't you find `  ``East Asia`` `-style identifiers ugly? Why not just `EastAsia`?

[2019-09-13 12:01] isaacabraham commented on #8
Hey both :-)

The very first version actually had support for three types of "values": Literals, Variables and Parameters. When the ARM template was generated, the outputter would correctly splice out the correct reference. We also had `variable` and `parameter` keywords to allow easily setting them.

However, this had several costs:

1. Codebase was made more complex.
2. API surface area was more

[2019-09-13 12:02] isaacabraham commented on #9
@BrianVallelunga no. I'm just running netcore3 here and that's the version it generated by default :-) Please feel free to push back to netcore2.2.

[2019-09-13 12:02] #9 closed

[2019-09-13 12:03] isaacabraham commented on #10
Yeah, that's probably a fair comment. Submit a PR? :-)

[2019-09-13 16:40] #10 closed

[2019-09-14 15:10] BrianVallelunga commented on #8
Thanks for the history here. I just went through a similar issue with an Angular project. Angular supports different environments via different json environment files (environment.dev.json, environment.prod.json, etc) but you have to rebuild the entire app each time, which can take 5 minutes on some slower build machines.

More than the time involved, it breaks the build once, deploy multiple time

[2019-09-14 18:02] panesofglass commented on #8
Makes sense. I’m facing a need to publish something to the marketplace, and that is why I was suggesting this.

[2019-09-15 00:57] isaacabraham commented on #9
@BrianVallelunga I've moved back to netcoreapp2.2.

[2019-09-15 01:00] isaacabraham commented on #8
@panesofglass you could also use Farmer as a simple way to get the ARM template "up and running" as a one-off task, and then move over to manually crafting the ARM template as needed?

[2019-09-15 10:23] #3 closed

[2019-09-26 14:13] Dzoukr opened #14 "Support for "setting" for Azure Functions"
Hi Isaac,

first of all, amazing work!

Please, would it be possible to add `setting` possibility for Azure functions as well?

[2019-09-26 14:15] Dzoukr opened #15 "Support for "depends_on" for Azure Functions"
This one is connected with #14. I assume to have possibility to set settings from other resources from template, there must be also `depends_on`.

[2019-09-26 16:40] Dzoukr opened #17 "Support for standalone AppInsights"
This one should be quite easy, but I am not so skilled with ARM templates yet.

It would be really hand to have possibility to create standalone instance of AppInsights using comp. expression and have other parts depend on it and use its key. For example in our scenario we have a webApp and functionApp and want them both to be logged by same AppInsights where we need to setup InstrumentationKey.

[2019-09-26 18:25] isaacabraham commented on #17
Yep, can definitely add that and that's a good use case 😊

[2019-09-27 07:44] isaacabraham commented on #15
Fixed by #16

[2019-09-27 07:44] #15 closed

[2019-09-27 07:44] isaacabraham commented on #14
Fixed by #16

[2019-09-27 07:44] #14 closed

[2019-09-27 07:57] isaacabraham commented on #17
Note that currently if by default the template will try to create an AI instance automatically for a webapp or functionsapp and will link them together. It'll also set an app setting with the instrumentation key automatically.

Would it be easier to simply have this:

[code]

And then Farmer automatically just creates a single resource and ties them all together?

[2019-09-27 08:10] Dzoukr commented on #17
Yes, I like it. Maybe this could be the easiest way.
Just thinking out loud... shouldn't there be an third option? Because you can create new AI (`app_insights_name "my-ai"`), you can skip it (`no_app_insights`), but cannot reuse (or link-to) existing one?

[2019-09-27 08:12] isaacabraham commented on #17
That's the last bit that isn't properly support yet, yes :-)

[2019-09-27 08:12] isaacabraham commented on #17
There's sort of support for that - storage account has the same thing - but yes that needs to be tested out and thought through. I'm creating a dedicated AI builder object (it's very simple as there are no config options on AI ARM elements anyway).

[2019-09-27 08:31] isaacabraham commented on #17
@Dzoukr I've just pushed a change to master that does the following:

1. Implements a basic AppInsights builder.
2. Adds a "distinct" check towards the end of the Arm Builder pipeline so if two resources of the same type have the same name, it only takes the first one. This means you can do the code sample above and it should just work.

[2019-09-27 08:34] Dzoukr commented on #17
Thank you!!!!

[2019-09-27 09:22] #17 closed

[2019-09-27 17:59] et1975 opened #19 "License?"
Please specify the license.

[2019-09-27 18:06] forki commented on #19
Any preferences?

[2019-09-27 18:27] et1975 commented on #19
Something that would let me try it w/o violating any laws, but my present employer likes MIT for some reason.

[2019-09-27 18:46] isaacabraham commented on #19
Please submit a PR with a suitable license. I have no preference either way.

[2019-09-27 20:52] forki commented on #19
I think MIT is good.

Isaac Abraham <notifications@github.com> schrieb am Fr., 27. Sep. 2019,
20:46:

[2019-09-28 16:46] isaacabraham opened #20 "Validation on templates"

[2019-09-28 16:47] isaacabraham opened #21 "Consider an "Expression" type to help illustrate what some members on config types are used for"

[2019-09-28 16:47] isaacabraham opened #22 "Type Provider for VM images etc."

[2019-09-28 16:47] isaacabraham opened #23 "Validation for e.g. invalid templates or combinations of validation e.g. Storage Account names?"

[2019-09-28 16:48] isaacabraham opened #24 "Consider merging duplicate resources? How to pick the "right" one?"

[2019-09-28 16:48] #23 closed

[2019-09-30 08:26] #19 closed

[2019-09-30 08:27] isaacabraham commented on #19
@CaringDev all done. looking forward to feedback :-)

[2019-09-30 19:09] Dzoukr opened #26 "Split FunctionApp & WebApp"
I am trying to create support for selecting runtime stack for `WebApp`, but now in code the function for creating `ArmTemplate` record considers functionApp as another "version" of WebApp. The problem is, that even if they are close together, they do not offer exactly the same options for setup.

FunctionApp:
![image](https://user-images.githubusercontent.com/851307/65907726-2e845e00-e3c5-11e9-978

[2019-09-30 19:31] isaacabraham commented on #26
Hmmm, sounds like both routes might be OK :-)

Setting different fields e.g. `appSettings` or `metadata` is totally fine - that should be done in the `Run` method of the `ArmBuilder` anyway. You could set `metadata` as an optional field on the WebApp and only set it in the Functions section of `Run`. If you think that that's too "messy", then we *could* create a new Functions type, but one of the

[2019-09-30 19:47] Dzoukr commented on #26
I know what you mean... I'll try keep the current structure first (and add new DU for runtime stack) and we will see. It is fresh meat so we can still easily refactor later.

[2019-09-30 21:16] isaacabraham commented on #26
BTW looking here I'm seeing a different schema https://docs.microsoft.com/en-us/azure/templates/Microsoft.Web/2018-11-01/sites with no mention of the Metadata node.

[2019-10-01 05:14] Dzoukr commented on #26
The current used (at least on my subscription) is `2018-02-01`, but cannot see metada neither. :( I guess it is one of those well hidden settings. I found it when I tried to create new one manually and then checked generated template for it.

Speaking about versions... Should we "upgrade" to higher version?

[2019-10-01 05:53] Dzoukr opened #27 "Template output contains serialized DU value "Case""
Found issue with serialization output for WebApp

[code]

Will send PR in few minutes.

[2019-10-01 10:55] #27 closed

[2019-10-01 12:18] isaacabraham commented on #26
yes re: upgrade!

[2019-10-03 21:53] Dzoukr commented on #26
Not needed anymore once branch `refactor-29` is done.

[2019-10-04 06:59] isaacabraham commented on #26
Reopening - we can close this issue as part of the PR acceptance process :-)

[2019-10-05 03:29] brettrowberry opened #31 "Create resource group"
One of the things I do today with ARM templates is create resource groups. Does Farmer support resource group specification? I didn’t see it in the README or the examples.

[2019-10-05 10:28] isaacabraham commented on #31
@brettrowberry Farmer only "directly" takes reponsibility for generating the ARM template itself.

However, Farmer does have a simple helper function that delegates to the Azure CLI for deployment of the template, and that API *does* support specifying the resource group you wish to deploy to - and it will create it if it does not exist:

[code]

Behind the scenes `quickDeploy` emits the ARM templ

[2019-10-05 10:32] #26 closed

[2019-10-05 10:32] isaacabraham commented on #8
Closing this unless there's any tangible ask / feature request / issue to come out of this?

[2019-10-05 10:32] #8 closed

[2019-10-05 11:01] brettrowberry commented on #31
Perfect!

[2019-10-05 11:01] #31 closed

[2019-10-08 07:37] isaacabraham opened #33 "Proper docs site"

[2019-10-08 11:51] Dzoukr opened #34 "Add support for creating containers in Storage account"
I probably know how to do it - will send PR soon.

[2019-10-08 18:34] #34 closed

[2019-10-13 13:58] Dzoukr opened #37 "Time for NuGet package?"
Farmer's API seems to be quite stable and personally I don't expect any wild changes now. Maybe we can consider convention  (`add_resource` vs `addResource`), but if you want to keep it that way, maybe it's good time for v1.0.0 release on NuGet?

[2019-10-13 14:54] isaacabraham commented on #37
Yeah. I think so. What steps are needed to make this easy to do, ideally as part of devops..

[2019-10-15 06:42] isaacabraham commented on #37
I guess next steps are:

1. [ ] Decide on roadmap (Look at #20, #21 and #24 - are these necessary and / or breaking changes?)
2. [ ] Introduce NuGet packaging support.
3. [ ] Tie into the build process with for releases?

[2019-10-15 07:08] Dzoukr commented on #24
Just a quick thought on this. I love Farmer for one reason - it is _simple_. Simple to use, simple to compose - just friendly DSL. But I would avoid making it too smart. If you want to automate infrastructure on Azure, you still need a lot of knowledge (and self-control) anyway and I think no tool can help you with that really. Instead of some merging I would simply set some kind of "last added du

[2019-10-15 08:28] isaacabraham commented on #24
That's basically what we do already: https://github.com/CompositionalIT/farmer/blob/master/src/Farmer/Builders.Arm.fs#L56

I'm just wondering if there should be some way to pick more intelligently. Or, provide a warning / error, yes.

Just something that is consistent, easy to understand and obvious to the user.

[2019-11-06 22:45] #21 closed

[2019-11-06 22:59] #24 closed

[2019-11-06 23:00] isaacabraham commented on #37
@Dzoukr I've added the first steps for a nuget package in a branch. Also I've reviewed the package from a "first-time consumer" point of view and have done some (pretty big) changes in terms of namespacing and modules, the idea being that typing `Farmer.` doesn't show a million items but a smaller subset that (hopefully) won't be as intimidating.

[2019-11-07 07:35] Dzoukr commented on #37
@isaacabraham Looking at nuget branch right now and looks great. Definitely better to have only subset of resource-related stuff available at one time. :+1:

If you would need any help, just ping me.

[2019-11-09 16:20] isaacabraham opened #41 "Can't deploy Linux web app"
The following template generates a Linux ARM template that is invalid:

[code]

The service host is deployed, but the web app is not, with an error that the LinuxFxVersion is invalid (in the generated template it's `DOTNETCORE|2.2`).

What do you think this is @Dzoukr ?

[2019-11-09 23:15] Dzoukr commented on #41
Hi @isaacabraham,

prepare for a good laugh. I tried and failed with the same error. Then I tried to create a same configuration manually and copy some parts to locally generated ARM template. After some desperate guesses, I realized that output for `Microsoft.Web/serverfarms` is slightly different.

Our output:

[code]

the portal template (manual clicked resource) output:

[code]
The second one

[2019-11-10 17:58] isaacabraham commented on #41
So sounds like the site extension is not valid for Linux webapps.

[2019-11-10 18:20] isaacabraham commented on #41
Interesting observation is that changing api version to 2018-11-01 is "invalid" in terms of e.g. VS Code intellisense (suggests 2018-0201).

[2019-11-10 18:25] isaacabraham commented on #41
@Dzoukr also doing those three things don't fix it for me :-( Where did you get that list of linuxfxversions in the first place?

[2019-11-10 18:33] isaacabraham commented on #41
In fact the only way i can get it working is by removing the LinuxFxVersion completely

[2019-11-10 20:38] Dzoukr commented on #41
I did manual clicking and checking the template output to get list of LinuxFxVersion values.

[2019-12-13 18:22] brettrowberry opened #45 "Key Vault"

[2019-12-17 11:38] isaacabraham commented on #45
Hey @brettrowberry. There's a keyvault branch that's been pushed, would you mind testing it out? There's a `keyvault.fsx` script in the samples folder.

Doesn't have full support for network ACLs but the majority of it should be there e.g.

[code]

[2019-12-18 13:26] ZenoArrow opened #46 "Comparison to Azure Management Libraries"
I think this is a great project, and a month or so ago I'd have been all over it, but as Microsoft already provide libraries to manage ARM resources from code, I'm wondering how Farmer compares.

If you don't know what I'm talking about, and I wouldn't blame you as Microsoft haven't heavily promoted it, I'm talking about the Azure Management Libraries:
https://github.com/Azure/azure-libraries-for-

[2019-12-18 22:21] isaacabraham commented on #46
@ZenoArrow Hey. Yes, I (think!) I know what the Azure libraries are. I think that they're a bit different:

* Farmer generates ARM templates.
* The Azure Libraries go directly to the Azure REST APIs.

As such, Farmer lives "on top" of ARM, including things like the Azure CLI, DevOps tooling etc.. If you're already using ARM templates, Farmer is a natural option because it simply makes it quicker t

[2019-12-18 22:21] isaacabraham commented on #37
Closing :-)

[2019-12-18 22:21] #37 closed

[2019-12-19 23:00] #45 closed

[2019-12-21 12:54] ZenoArrow commented on #46
Thanks for the feedback. Regarding the simplicity of the libraries, I agree it's nice to have a single package to deal with as there are a ton of packages with the Azure Management Libraries, though in practice a user just has to specify one, as Microsoft.Azure.Management.Fluent (https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/) is a meta-package for the related package, so you re

[2019-12-22 15:07] isaacabraham commented on #46
@ZenoArrow

Thanks for the feedback :-) And Farmer already supports a "compile to ARM and deploy" as a single step :-)

[code]

although it relies on the Azure CLI to do the bulk of the heavy lifting.

[2019-12-22 15:07] #46 closed

[2019-12-31 09:02] dburriss opened #48 "Support for ACR"
I wanted to check if there were plans for ACR support? Either way, unless someone is already working on it, I would like to take a stab at contributing.

[2020-01-01 14:55] isaacabraham commented on #48
Not as far as I know - @ninjarobot do you have any plans for this?

[2020-01-16 08:00] viktorvan opened #50 "Make Writer.quickDeploy cross-platform"
Is anyone working on making Writer.quickDeploy cross-platform?

I have written something that at least works on my mac, so that would at least be one more platform 🙂 but I think it _should_ work on linux as well. I can make a pull-request from that to get a discussion going. Maybe you have some more requirements for this function that my solution doesn't support.

[2020-01-16 08:17] isaacabraham commented on #50
Excellent, I was thinking to add such an issue. I have no clue how to do that, so yes, definitely worth getting the discussion going.

[2020-01-17 10:32] viktorvan opened #52 "Using SecureParameters when running quickDeploy"
A question, when trying to deploy a sql-server by running the quickDeploy-command I get an error that the password parameter is missing:

When deploying the generated arm-template manually I can provide the parameter, of course, so in a production scenario it works fine.

But what is a good way to do this when using quickDeploy?

I actually interpreted the following section in the readme to mean t

[2020-01-17 12:22] isaacabraham commented on #52
The wording is obviously a little misleading :-) Farmer will automatically generate the *parameters* themselves for you, but not the values.

Perhaps the quick deploy option should do that. But how?

* As arguments to quick deploy itself e.g.

[code]

* Generate them randomly and emit them out to the console?
* Some other way?

[2020-01-17 12:51] #50 closed

[2020-01-17 13:26] viktorvan commented on #52
Yes something like that would work I think. But maybe there should be a `quickDeployWithParams` for that?

On the other hand, yes, maybe it is possible to generate the parameters using the hash of the template as a seed or something like that. I mean, it would be very convenient to get an azure development environment up and running by just doing:

[code]

And by that getting some random SecureStr

[2020-01-17 15:41] viktorvan opened #53 "Make FUNCTIONS_EXTENSION_VERSION configurable"
To deploy a function app with runtime v3 using the azure function core tools version 3 you need to set FUNCTIONS_EXTENSION_VERSION = ~3. See https://docs.microsoft.com/sv-se/azure/azure-functions/set-runtime-version

Right now this value is hardcoded to ~2 in the generated arm-template.

This should be configurable, I think, and it shouldn’t be too hard to make that change. Probably you could use

[2020-01-17 17:15] isaacabraham commented on #53
Sounds good to me, please do.

[2020-01-17 17:59] isaacabraham commented on #52
Ok, I've created a basic routine that can create a parameter file. At the moment the password is crude - just a Guid - but that can be changed in time. It also needs wiring into the quick deploy process. Have a look at the auto-generate-password branch!

[2020-01-18 09:51] viktorvan commented on #52
Looks good, but I had an issue. I just had time for a quick try, though. It seems it works fine when setting the password, for example in my sql-server. However when I tried to reference the password in a functions app:

[code]

It does not resolve to the password from the parameter file, just "[parameters('password-for-v-test-sql')]". I haven't had a chance to look at the source code, maybe it's

[2020-01-19 18:04] #53 closed

[2020-01-20 12:08] isaacabraham commented on #52
Hmmm, can you raise a separate issue for that?

[2020-01-20 12:23] viktorvan commented on #52
Sorry, I was a bit wrong here, the snippet above actually works. It’s when I try to interpolate a string that it is not escaped properly.

I wanted to do something like
[code]

Should this be possible? In that case I can open another issue, otherwise the workaround of just using
[code]
works for me.

[2020-01-20 16:33] #52 closed

[2020-01-20 17:10] isaacabraham commented on #52
Basically we need to emit a string that uses 'concat' in the ARM expression dialect: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-array#concat

@viktorvan what we might need to do is resurrect the Arm Expression builder I had in an earlier version of Farmer - this gave you strongly typed access to a mini-dsl around ARM's string concatination functions,

[2020-01-20 17:11] isaacabraham opened #56 "Make it easier to use secure parameters in the context of an ARM expression"
Linked to #52. Now that we support secure parameters, we need to be able to easily e.g. splice them together using things like ARM's `concat`.

[2020-01-20 18:32] isaacabraham commented on #56
@viktorvan Can you check out the expression-concat branch and try this:

[code]

[2020-01-20 18:56] viktorvan commented on #56
I’ll try that when I am at my computer, but in the mean time I had another crazy idea 😁

Both the alternatives above force the user to know that you have to “concat” arm parameter values. What if, instead, the setting-function hides this away by checking if the value is an ArmRef, i.e. if it contains any substrings “[parameters(‘<key>’)]”. They can then be replaced with the “concat” syntax require

[2020-01-20 21:48] viktorvan commented on #56
Ok, I had a chance to try the `concat` function and it worked fine, but I ended up with this:

[code]

Which I don't think looks very nice though. Like I commented above, it would be nice to have some way to hide the `concat` away.

I'll sleep on it, and think some more.

[2020-01-20 23:25] isaacabraham commented on #56
We can build a helper method on sql db to create a connection string?

[2020-01-21 05:30] viktorvan commented on #56
Yes, that’s a great solution, much simpler 👍

[2020-01-21 07:59] isaacabraham commented on #56
Try now :-)

[2020-01-21 10:13] viktorvan commented on #56
Yes that works for me. Nicely done. :)

[2020-01-21 10:53] #56 closed

[2020-01-30 11:57] viktorvan commented on #41
I am having the same issue now, did you get any further on this?
I actually tried creating a webapp for linux in the portal, but even that fails for me. :(

As a workaround I can use Windows OS for now.

[2020-02-03 17:20] isaacabraham commented on #41
I'll chase up - I'm trying to get support from MS.

[2020-02-03 17:46] isaacabraham opened #58 "Create a documented story for CI"

[2020-02-03 17:46] isaacabraham opened #59 "Auto-generate YAML for Azure DevOps"

[2020-02-03 17:46] isaacabraham opened #60 "dotnet template"

[2020-02-07 22:52] #33 closed

[2020-02-10 10:33] forki opened #61 "Replace logo at upper left corner in docs"

[2020-02-10 10:33] forki opened #62 "Link back to github from docs menu at the left"

[2020-02-10 10:38] forki opened #63 "Make "Lines of Code" image smaller"
Right now it's huge and blurry

[2020-02-10 10:40] isaacabraham commented on #61
Already asked if someone can create one for us...

[2020-02-10 12:12] isaacabraham commented on #63
Fixed.

[2020-02-10 12:12] #63 closed

[2020-02-10 12:12] isaacabraham commented on #62
Added a link.

[2020-02-10 12:12] #62 closed

[2020-02-12 14:53] isaacabraham opened #65 "Support deployment with service principle in F#"
It's evident that we need a more streamlined and opinionated way to deploy Farmer templates from anywhere e.g. FAKE, CAKE, .NET console apps, GitLab etc..

- [x] Write simple wrapper around the REST API calls of ARM for getting a bearer token and deploying a template.
- [x] Document a way to easily create a service principle
- [ ] Investigate if you can get a bearer token interactively somehow (wi

[2020-02-14 21:57] isaacabraham commented on #65
Creating a service principle with the Azure CLI is pretty easy:

[code]

(see [here](https://blog.jongallant.com/2017/11/azure-rest-apis-postman/))

[2020-02-15 17:00] isaacabraham opened #68 "Remove use of FsHttp"
Whilst it's a fine library and looks excellent, for the limited usage we're giving it, it seems overkill to use it. It would be great if we could remove it and replace with "standard" dotnet code, even if this meant wrapping the HTTP interop into a separate file / module.

[2020-02-15 17:08] isaacabraham opened #69 "Move to System.Text.Json"
Remove Newtonsoft and migrate to Text.Json. This benefits netcore3 consumers who get it for free. The serialization we're doing is extremely limited so I'm hopeful this would be possible.

[2020-02-18 13:28] nojaf opened #71 "Support for Azure CDN"
It would be great to also have support for CDN support.

https://docs.microsoft.com/en-us/azure/templates/microsoft.cdn/2019-04-15/profiles
https://docs.microsoft.com/en-us/azure/templates/microsoft.cdn/2019-04-15/profiles/endpoints

[2020-02-18 13:29] nojaf opened #72 "Support for Azure API Management"
Nice to have: support for API Management:
https://docs.microsoft.com/en-us/azure/templates/microsoft.apimanagement/allversions

Looks like a lot of work though, so no hard feelings if this does not seem worth the effort.

[2020-02-18 21:18] isaacabraham commented on #71
I've got a branch which was about half / two-thirds of the way through. What would be useful would be to see a "live" ARM template using CDN which contains the parts that need to be exposed.

[2020-02-19 08:02] nojaf commented on #71
I have a sample ARM template at https://github.com/nojaf/capital-guardian/blob/master/infrastructure/azuredeploy.json#L181

[2020-02-19 11:13] #65 closed

[2020-02-19 12:54] forki opened #73 "Support for Event Hubs"
Hi,

we'd like to see support for EventHubs. A possible ARM template looks like this

[code]

/cc @atheck

[2020-02-19 12:57] forki opened #74 "Support for Redis Cache"
Hi,

we'd like to see support for Redis cache. A possible ARM template could look like this:

[code]

/cc @atheck

[2020-02-19 13:17] isaacabraham commented on #73
This looks like it could be much much simpler on Farmer.

[2020-02-19 13:18] isaacabraham commented on #74
This will be an easy one to do. Would be happy to document this as a walk through for people to see how to do others in future.

[2020-02-19 13:32] forki commented on #73
https://www.youtube.com/watch?v=e3U2NNv8VcE&feature=youtu.be&t=20

[2020-02-20 18:04] #74 closed

[2020-02-22 18:17] #73 closed

[2020-02-22 18:19] isaacabraham commented on #41
@viktorvan @Dzoukr an you both check now? I've made some changes to the template generation which I think are now working. Not yet released but it's in master

[2020-02-23 10:01] viktorvan commented on #41
Yes, I can create a linux webApp now. Thanks!

[2020-02-24 19:42] #41 closed

[2020-02-24 19:42] #58 closed

[2020-02-24 19:43] isaacabraham commented on #59
Solved by https://github.com/CompositionalIT/farmer-template/

[2020-02-24 19:43] #59 closed

[2020-02-24 19:43] isaacabraham commented on #60
https://github.com/CompositionalIT/farmer-template/

[2020-02-24 19:43] #60 closed

[2020-02-25 07:35] malthe opened #77 "Support for Logic Apps"
Logic Apps are defined in a custom [Workflow Definition Language](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-workflow-definition-language) (WDL) which is rather similar to ARM templates.

When you deploy a Logic App via ARM template, a workflow definition is embedded as a resource, see for example this reference on deploying [Logic Apps using CI/CD](https://platform.deloitte.com.

[2020-02-25 20:17] isaacabraham commented on #77
Did you really have to show me that 😉

https://i.giphy.com/media/12rQHIwkWykTRe/giphy.webp

[2020-03-21 15:17] isaacabraham opened #80 "Support for Validation"
We should plug into the ARM Validation REST call / Azure CLI so that we can automatically pre-validate templates before deploying.

[2020-04-01 13:32] isaacabraham opened #84 "Automatic documentation deployment"
I have no clue how to do this but I imagine that it's possible to automatically push Hugo sites to github io?

[2020-04-01 15:15] khalidabuhakmeh commented on #84
Here are the steps necessary:

1. GitHub Action to build on PR / Tag / Or Whatever
    1. Push results into a "docs" branch or a directory on "master"
2. Set up repository settings to look for branch or docs directory

[2020-04-01 15:34] khalidabuhakmeh commented on #84
https://github.com/peaceiris/actions-hugo

[2020-04-04 21:57] SeanKilleen commented on #84
Picking this one up.

[2020-04-04 22:15] SeanKilleen commented on #84
Note: I've merged the Github Actions workflow to master but it's not yet appearing in the UI.

Before merging my doc change (just a simple local README that won't change contents), I'm going to make sure the action either shows up or that I confirm that it shouldn't yet.

[2020-04-04 22:20] SeanKilleen commented on #84
Confirmed [here](https://github.community/t5/GitHub-Actions/Github-Action-Not-Showing/td-p/52635) that the action should show up after the first run.

That means I'm going to go ahead and get #88 merged which should kick off the action without changing any docs content.

[2020-04-04 22:35] SeanKilleen commented on #84
OK, I made another tweak to the docs branch after updating this workflow.

It has not run yet. My guess is it's on some sort of a timeline so I'm going to wait for a little bit before assuming something's wrong.

I'll check in on it periodically. Feel free to ping me in a little bit if something's gone wrong.

Even if something is wrong in the process, I can force push my local output to the `gh-p

[2020-04-05 01:43] SeanKilleen commented on #84
FYI, I have reached out to the GitHub community about this because I am unsure why the Action workflow isn't being kicked off. My understanding is that as long as the `gh-pages` branch exists and is set for github pages (and it is), the `GITHUB_SECRET` token is what we should be using.

Link in case anyone wants to follow along: https://github.community/t5/GitHub-Actions/GitHub-Action-not-starting

[2020-04-05 21:59] managedkaos commented on #84
Hi @SeanKilleen !  I saw your request and wanted to help out.

I looks like your workflow is not getting triggered because the `docs` branch didn't have a workflow.  In fact, the worflow file is only  on the `master` branch.

I submitted a PR: https://github.com/CompositionalIT/farmer/pull/94

Hope that it helps!

-M

[2020-04-05 22:21] SeanKilleen commented on #84
@managedkaos thank you! I was under the impression that a workflow on the master branch was possible to run on all branches; I thought that's why there is a branch specification in the workflow in the first place.

It's a lot to ask since if you already fixed the problem :) but can you point me to any relevant docs / info? I looked everywhere to answer that question but assumed since I could scope

[2020-04-05 22:35] SeanKilleen commented on #84
Update: great! With that hiccup behind us, all we have to do now is make a few final tweaks and then we should be good to watch this thing run all the way through.

[2020-04-05 22:49] SeanKilleen commented on #84
Success! 🎉

After @managedkaos added the workflow into the `docs` branch, I had one last tweak: to remove the `public` folder being set up as a sub-module (not sure why it was set up that way).

I ran `git rm --cached public` and committed the result on the `docs branch` via dfe22d9e9ddd09eaf16517c890d47c06690e77d5 and the action has run successfully.

Next up: Making a minor tweak to the docs and

[2020-04-05 22:54] SeanKilleen commented on #84
This is now resolved:

✅ docs branch changes will be automatically built and published to `gh-pages` branch and served.
✅ README on the docs branch describes the behavior.

I discussed with @isaacabraham different directions that the project might want to go:

* Could move docs to a separate repo
* Could move docs into a folder within `master`
* Could think about utilizing tooling that allows for

[2020-04-05 22:54] #84 closed

[2020-04-05 23:18] managedkaos commented on #84
Glad it worked out.  See step four here:
https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#creating-a-workflow-file

   1.

   Commit your changes in the workflow file to the branch where you want
   your workflow to run.

On Sun, Apr 5, 2020 at 3:54 PM Sean Killeen <notifications@github.com>
wrote:

[2020-04-08 22:30] isaacabraham commented on #61
Closed :-)

[2020-04-08 22:30] #61 closed

[2020-04-08 22:31] isaacabraham commented on #20
Fixed.

[2020-04-08 22:31] #20 closed

[2020-04-08 22:31] #80 closed

[2020-04-11 11:56] forki opened #97 "Please create dedicated option to create app service plans"
We'd like to decouple creating of app services from app service plans

[2020-04-11 12:55] forki opened #98 "Put deployment output in separate folder"
this will make it easier to gitignore

[2020-04-11 13:04] forki opened #99 "Define For method in arm {}"
![image](https://user-images.githubusercontent.com/57396/79044493-b9ac9f00-7c05-11ea-936f-c75e991a0fc0.png)

[2020-04-11 13:07] isaacabraham commented on #99
Doing this would also remove the need for `add_resources`.

[2020-04-11 13:27] isaacabraham commented on #99
I don't know if this is possible though - calling custom operations without a `For` method.

[2020-04-11 20:09] forki opened #100 "Deploy.quick is not blocking"
It should be so that we can run post deploy scripts when everything ist done

[2020-04-11 20:23] forki opened #101 "https_only missing for app service"

[2020-04-11 22:08] #100 closed

[2020-04-11 22:38] #98 closed

[2020-04-12 05:32] forki commented on #99
If you do For, then also please do If

[2020-04-12 12:54] #101 closed

[2020-04-12 15:05] #97 closed

[2020-04-12 23:00] isaacabraham commented on #48
@dburriss I think @forki also has some interest in this and we might be adding it to web apps shortly.

[2020-04-12 23:29] isaacabraham commented on #48
Here's how it's looking at the moment...

[code]

Generates the following ARM template:

[code]

Does this look about right?

@forki Please note that you **don't specify the password** with this approach. Instead, Farmer creates a secure parameter which is passed in at deployment time i.e. when you deploy the template. So this could be passed in by your CI system as an environment variable or what

[2020-04-13 08:57] forki commented on #48
Where do I specify the docker server?

Isaac Abraham <notifications@github.com> schrieb am Mo., 13. Apr. 2020,
01:29:

[2020-04-13 13:13] panesofglass commented on #99
Yes, you can call custom operations after a for method. This is how things like query expressions work.

[2020-04-13 13:19] isaacabraham commented on #99
@panesofglass ok, good to know it's possible :-) Is there any example you can point me to? I don't even know what the signature of For should look like, let alone how to hook it into the CE and update the internal state.

[2020-04-13 13:27] panesofglass commented on #99
Looks like you want an actual for loop, so you will need to do something like [this](https://github.com/fsprojects/FSharpx.Extras/blob/master/src/FSharpx.Extras/ComputationExpressions/State.fs#L38), which requires additional members.

[2020-04-13 13:30] panesofglass commented on #99
Iirc, supporting if just means you have to implement Delay, and possibly Combine. However, sometimes mixing standard members with custom operations requires you wrap each in its own expression.

[2020-04-13 13:59] isaacabraham commented on #99
![](https://media.giphy.com/media/3o7btPCcdNniyf0ArS/giphy.gif)

[2020-04-14 07:20] isaacabraham commented on #48
@forki that's what I asked you recently - I thought you said that you had tried it and it magically just worked :-)

[2020-04-14 07:21] isaacabraham commented on #48
Unless you're referring to the registry credentials url?

[2020-04-14 07:33] forki commented on #48
Not magically. Only with the properties that I sent you in the private gist

[2020-04-14 14:44] tforkmann opened #107 "Return DeploymentResult in quick deploy instead of unit"
Hi there,

for the fullDeploy you receive the DeploymentResult response back after the deployment.
Would be nice to get the DeploymentResult back for the quick deploy as well instead of returning just an unit.

Would be very cool if this can be added.

Thanks in advance

[2020-04-14 15:20] panesofglass commented on #99
Let me know if you want to pair on this or need help.

[2020-04-14 16:51] isaacabraham commented on #99
Yes and yes :-) Maybe wednesday?

[2020-04-14 16:57] isaacabraham commented on #107
I've done a (big) refactoring on the deployment side and we will use Azure CLI from now on, all the time. I've written code to allow us to reason more easily about Az CLI commands etc. as well. @viktorvan would you mind testing out the azure-cli branch on linux to ensure that things are still working? All the script code is gone now - instead we just call az directly.

[2020-04-14 16:59] isaacabraham commented on #107
Forgot to say - this branch also will return the outputs as a map :-)
[code]
`outputs` contains `[ "generated_key", "<the storage key"> ]`

[2020-04-14 17:49] viktorvan commented on #107
Oh, that’s great to switch to azure cli. This means you’ll close the issue to remove the dependency to FsHttp as well. And you don’t even have to replace it with anything but the azure cli, nice.

I can try out the azure-cli branch later tonight, on mac though, but it should work the same as for linux I think.

[2020-04-14 19:05] viktorvan commented on #107
Ok, @isaacabraham I tried running the azure-cli branch and ran into an issue. Feel free to move this discussion to another issue if it's not appropriate to continue here...

Deploy.execute fails when checking azure logged in status:

[code]

It is the use of `>` in the Arguments for ProcessStartInfo that is not working as expected. Although I can run the command `az account show > .farmer/output.t

[2020-04-14 19:45] tforkmann commented on #107
Hi Isaac,

thanks for the fast implementation.
It worked perfectly for me:
![image](https://user-images.githubusercontent.com/4168951/79267267-3014ff80-7e99-11ea-8f31-85f2401a9cbc.png)

Thanks!

[2020-04-14 20:55] isaacabraham commented on #107
@viktorvan firstly thank you for testing. I suspected that this might happen. I tested with `UseShellExecute` set to false - the problem is then that the command `az` on Windows doesn't work - you have to use `az.cmd` and even then it doesn't work because it can't find Python. The only option is to provide the full path to `az` which seems pretty fragile to me.

I'll install WSL here and see if I

[2020-04-14 20:55] isaacabraham commented on #107
Hmmm. Alternatively we can just have different mechanisms for shelling out based on whether you're on Windows or Linux.

[2020-04-14 22:12] isaacabraham commented on #107
@viktorvan I've tried to integrate the Linux and Windows mechanisms into one call (with a pattern match on OS, as we did previously with the batch file) using your sample as a basis for the Linux implementation. Can you give it another go?

[2020-04-15 06:21] viktorvan commented on #107
I think you just missed to `p.WaitForExit()` in `executeAzLinux` before reading from `p.StandardOutput`, if I add that it works.

[2020-04-15 07:29] #107 closed

[2020-04-15 07:29] isaacabraham commented on #68
Closing as we now depend 100% on Azure CLI and the REST API has been removed.

[2020-04-15 07:29] #68 closed

[2020-04-15 07:43] isaacabraham commented on #48
@forki those are all in the above code snippet?

[2020-04-15 07:46] forki commented on #48
ok just saw it's the first param of `docker_registry_credentials`?

how do I set it?

[2020-04-15 08:07] isaacabraham commented on #48
You supply the URL and username at compile time into the Farmer builder (per the example).

The password you have to supply at the runtimetime when calling `Deploy.execute`. I just realised that in the migration from the REST option, we've dropped that off. Let me add it back in...

[2020-04-15 08:11] forki commented on #48
;-)

[2020-04-15 10:22] isaacabraham commented on #48
Released in 0.11.

[code]

[2020-04-15 10:49] forki commented on #48
is the docker_ci setting also released? computer says no

[2020-04-15 11:19] dburriss commented on #48
I don't see it in the builder. @isaacabraham seems like a classic "**works on my machine**" :P

[2020-04-15 11:32] isaacabraham commented on #48
Sorry. I was referring to the password bit being release. The Docker stuff not yet - I have literally not tested it at all. Can you test locally from the branch?

[2020-04-15 11:33] isaacabraham commented on #48
or provide me with some suitable registry settings :-)

[2020-04-15 11:35] forki commented on #48
you can test it with the docker hub settings for bookstore

[2020-04-15 11:42] isaacabraham commented on #48
The Docker Hub image doesn't need the registry credentials bit - that's the new bit (along with the CI setting). That's just the `docker_image` setting which is already tested.

[2020-04-16 07:47] robmaw opened #111 "Minor typos ?"
Hi - do you prefer to receive PRs on the docs branch for minor typos with a corresponding issue - or without a specific issue ?

[2020-04-16 17:58] panesofglass commented on #99
Doh! Looks like I missed the window. How about Friday morning? I'll be online early.

[2020-04-16 21:40] isaacabraham commented on #111
Without an issue is totally fine for small things like that! Thanks 😊

[2020-04-17 08:35] #111 closed

[2020-04-17 12:32] vilinski commented on #99
@panesofglass I've enjoyed your CE workshop, found earlier by random googling. Thank you!

[2020-04-17 15:33] JordanMarr opened #115 "CosmosDb name 'not defined'"
The following cosmosDb sample fails for both names:

[code]

[2020-04-18 13:22] isaacabraham commented on #115
[Docs show](https://compositionalit.github.io/farmer/api-overview/resources/cosmosdb/) that it's `db_name` (to distinguish from the server name). In retrospect perhaps this isn't as clear as it could / should be.

We could rename the field to simply `name` for consistency? I suppose we should do the same with SQL.

[2020-04-18 13:27] #115 closed

[2020-04-19 23:20] JordanMarr commented on #48
I'm also interested in creating Azure Container Registry and Container Instances.
Is this still a no, or maybe a maybe?  :)

[2020-04-20 07:43] isaacabraham commented on #48
@JordanMarr definitely yes! ACR is probably a good one to start with as well - here's a sample I found on the official samples github repo: https://github.com/Azure/azure-quickstart-templates/blob/master/101-container-registry/azuredeploy.json.

Happy to provide you to some help as needed.

This would fit nicely with the work that was released this weekend for ACR support in webapps - in the futur

[2020-04-20 07:49] dburriss commented on #48
@JordanMarr let me know if you are going to pick this up. If not I will. I didn't hear back on whether this work was already started but it sounds like it has not.

[2020-04-20 09:17] isaacabraham commented on #48
Also this link provides the details on the ARM spec for ACR: https://docs.microsoft.com/en-us/azure/templates/microsoft.containerregistry/2017-10-01/registries

[2020-04-20 09:47] isaacabraham commented on #48
@JordanMarr note - when you say "container instances" what do you mean? If you just mean linux app service that use ACR or Docker Hub, then this is already supported. We also have support for Container Groups (although this has not been documented on the site).

[2020-04-20 13:58] JordanMarr commented on #48
Ahh, very nice!  I think Container Group is actually what I need.

[2020-04-20 14:03] JordanMarr commented on #48
Trust that no work here has happened here.  :)
Please proceed!

[2020-04-21 04:06] dburriss commented on #48
@isaacabraham @ninjarobot I would like to take a stab at getting started on this over the weekend. I did look through the builders when I initially asked this question. I may have questions :)
Target:
https://docs.microsoft.com/en-us/azure/templates/microsoft.containerregistry/2017-10-01/registries

[2020-04-24 09:41] forki opened #120 "Deploy.execute returns Result type - let's have another option that fails directly"
Deploy.execute returns Result type. This is useful if we want to reason about a particular deployment as part of a larger script.
But it would be nice to have another option that just fails directly.

[2020-04-24 11:51] isaacabraham commented on #48
@ninjarobot I'm going to review and get that merged in. Apologies for pushing it to the back.

[2020-04-24 11:54] isaacabraham commented on #48
@dburriss no worries! This is an example of [Cognitive Services](https://github.com/CompositionalIT/farmer/blob/master/src/Farmer/Builders.CognitiveSearch.fs) which is a pretty simple one - you might want to try to follow that one through.

We could also add some technical documentation on how to create new builders / resources.

[2020-04-24 12:31] dburriss commented on #48
@isaacabraham thanks. Let me give it a go and I will make notes of what is not clear to feed into any needed docs.

[2020-04-25 11:12] isaacabraham opened #121 "Enable end-to-end Azure deployment tests"

[2020-04-25 15:02] #121 closed

[2020-04-25 17:43] isaacabraham commented on #120
Fixed by #122

[2020-04-25 17:43] #120 closed

[2020-04-25 19:20] clement128 commented on #31
Hi there, what if I don't want to create new resource group but use existing resource group instead, is there any way?

thanks

[2020-04-25 20:08] clement128 opened #123 "Create resource to existing resource group"
Hi there,

First thanks to the great works.

May I know how to add resource to existing resource group? When I try to `Deploy.execute` my deployment, it just tell me something like `Invalid resource group location 'aaa'. The Resource group already exists in location 'bbb'`

[2020-04-25 20:12] clement128 opened #124 "Support environment variables for container groups"
Hi there, how to add `environment variables` for container groups?

Thanks

[2020-04-25 20:15] clement128 opened #125 "Private IP address for container group"
Hi there, is me again :)

I tried to deploy a container group for testing, but it show me the error
[code]

But how I can define it?

[2020-04-25 20:39] clement128 opened #126 "Build on top of Microsoft.Azure.Management.Fluent?"
Hi there,

Farmer syntax is much simple and elegant, c# is verbose. but seems `Microsoft.Azure.Management.Fluent` now supported so many azure resource and more features. Just wondering if build farmer on top of `Microsoft.Azure.Management.Fluent` is it lesser work and easier?

[2020-04-26 15:30] dburriss commented on #48
@JordanMarr I have the following working. What features are you using?
I am guessing linking Identity is a must. Tasks? Encryption? Geo-replication?

[code]
@isaacabraham How do you usually handle a feature? Should I prefer to releasing a minimal set of features and increment, or aim for feature-complete?

[2020-04-26 16:11] JordanMarr commented on #48
I think you have already ticked all the basic features that I'm using so far in development.

[2020-04-26 17:11] isaacabraham commented on #123
This suggests that you're creating the resource group in Farmer in a different location to the existing one? What location does the existing RG exist in?

Something doesn't feel right. As far as I know, in Azure you can have multiple resource groups with the same name but in different locations and / or different subscriptions.

[2020-04-26 17:12] isaacabraham commented on #124
@ninjarobot is this supported?

We don't really have docs for CGs at the moment on the site, this should probably be added.

[2020-04-26 17:13] isaacabraham commented on #125
Can you post a sample of the invalid farmer builder?

[2020-04-26 17:15] isaacabraham commented on #126
I don't think that the Fluent API emits ARM templates - it goes straight to the REST APIs as far as I know. This is an approach that's similar to something like Pulumi I think.

However, if the Fluent API does emit ARM templates, perhaps that's something we could look at.

[2020-04-26 18:04] #69 closed

[2020-04-26 18:05] isaacabraham commented on #48
@JordanMarr my approach has been to do the 20% of functionality that solves 80% of what people want i.e. start simple, release it, and see if anyone complains :-) New features can always be added afterwards without too much work, and I found starting up-front and trying to do *everything* just over complicates things.

[2020-04-26 18:07] clement128 commented on #125
hi @isaacabraham

here is the sample
[code]

if deploy from yaml I need to define
[code]

[2020-04-26 18:10] clement128 commented on #123
I think now is always trying to create new group by the provided group name? Correct me if I am wrong .

[2020-04-26 18:15] clement128 commented on #126
Yeah, but it can also be a DSL for the fluent api? Anyway, when I tried the fluent api also encountered some issue for example, the azure container group doesn't support `secrets volume` which I am going to use .

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-secret

[2020-04-26 18:16] clement128 commented on #123
BTW: this is the definition I had tried before

https://github.com/CompositionalIT/farmer/issues/125#issuecomment-619597423

[2020-04-26 18:21] isaacabraham commented on #48
@dburriss one thing that we will probably look at over time is the ability to create a web app and seamlessly connect it to the ACR - so pulling the admin username and password from the ACR resource into the web app as an expression. For now, that's not needed though!

[2020-04-27 06:32] dburriss opened #127 "Discussion on some style topics"
This issue is a small catch-all for a few things I noticed diving into the codebase. I can break it into separate issues if any are valid after discussion, as it may just be ignorance on my side.

**1. Sln / folder structure mismatch**
Currently, there is a mismatch between the folder structure of the solution and what is shown in an IDE Solution explorer.

_Folder view:_
/src/Farmer/
/src/SampleA

[2020-04-27 06:53] dburriss opened #128 "Create contributor tutorial"
I wanted to open a discussion on creating a tutorial page for orienting a potential new contributor on how to create a new resource.
I created something similar for Terraform but the idea of creating all the CE that people would need led me to abandon the idea.
This project just focuses on Azure but that is still a lot of services just to cover the 80% of use cases.

Anyway, that is my rambling wa

[2020-04-27 07:38] dburriss commented on #48
Opened a PR for review and comments https://github.com/CompositionalIT/farmer/pull/129

[2020-04-27 13:13] dburriss commented on #48
@isaacabraham I changed my tests over to Expecto. Hopefully, IntelliJ pulls through and delivers support for Expecto tests in the 2020.2 Rider release.

Please let me know if anything else. I will take a quick look at how updating the docs is done.

[2020-04-28 09:03] dburriss commented on #48
@isaacabraham addressed the review comment.
I also took at stab at supporting custom storageAccount. That led to noticing a 'Classic' SKU which it turns out is no longer supported. So it turns out a bunch of the additional functionality on ACR is no longer supported.
So the only feature to enable if we wanted to would be Encryption. This can wait for sure till someone requests it.

[code]
I did wa

[2020-04-28 12:07] isaacabraham commented on #48
@dburriss I think just create a member on the config object called LoginServer which does the string splicing, similar to how `Key` works on `StorageAccountConfig` etc. Then you can just do the following:

[code]

[2020-04-28 20:28] #48 closed

[2020-04-28 21:25] isaacabraham commented on #127
All valid points @dburriss. Taking them one at a time:

1. The solution file needs a clean up - happy for you to create an issue and fix it as required. The folder is probably only there for tests because I used `dotnet sln` to add it rather than doing it manually.

**Action**: Create issue, PR if possible :-)

2. The SKUs are an issue that I've noticed too. I'm tempted to simply put `[<RequiredQu

[2020-04-28 21:27] isaacabraham commented on #128
Works for me! Maybe create a `contributing.md` file and let's see where it goes from there?

[2020-04-29 11:22] dburriss opened #131 "Create docs for resources missing docs"
Off the top of my head:
- I still need to do for my PR of Container Registry
- Container Group

@isaacabraham  Unless you want them in separate PRs I can submit both under this ticket?

I will go through an check if any else are missing.

[2020-04-29 13:26] dburriss commented on #127
@isaacabraham I will create issues for points 1,2,4.

WRT 3. Honestly, I am not too fussed about the consistency either. As I said, I wasn't suggesting even doing anything to fix. I will reiterate something I did mention and that was adding a testing section to contributions. This wouldn't focus too much on Arrange or Assert style but more granularity. What we want (based on existing tests and my

[2020-04-29 14:48] dburriss opened #132 "Sln and folder structure mismatch"
Currently, there is a mismatch between the folder structure of the solution and what is shown in an IDE Solution explorer.

Folder view:
/src/Farmer/
/src/SampleApp/
/src/Samples/
/src/Tests/

Solution view:
src/Tests
Farmer
SampleApp

I am not sure if this was on purpose or the consequence of working mostly in folder view of VS Code?

Suggestion

Folder view:
/src/Farmer/
/samples/SampleApp/
/sam

[2020-04-29 14:49] dburriss commented on #132
I will create a PR for this if the suggestion is acceptable to you @isaacabraham ? Feel free to assign this to me.

[2020-04-29 15:02] dburriss opened #133 "AutoOpen causes ambiguity between common types"
AutoOpen on the features means common types like Sku cases are subject to compiled last.
Since [&lt;AutoOpen&gt;] is on the Builder files, even when using a single resource you could not use a Sku of Basic unless by chance it was the resource for the last builder in the project. When Basic shows up in Intellisense but then does not work it is a little unexpected. It would be more expected if I exp

[2020-04-29 15:10] dburriss opened #134 "Script files are tailored for running on Windows only"
The references to DLLs use `\` instead of `/`. This means they do not work on *nix based machines.

[2020-04-29 15:11] dburriss commented on #134
I can create a PR to fix these for all fsx files. It is a quick fix and I can PR it, just assign to me.

[2020-04-29 15:20] dburriss commented on #127
Closing as tracked in issues #132 , #133 & #134

[2020-04-29 15:20] #127 closed

[2020-04-29 19:07] isaacabraham commented on #134
Yep, theres no need for paket or anything if you just want to #r the two DLLs directly (Farmer and Newtonsoft).

[2020-04-29 19:10] isaacabraham commented on #133
Do you mean apply `RequireQualifiedAccess` to the DUs?

[2020-04-29 19:10] isaacabraham commented on #132
Sounds good to me!

[2020-04-29 19:12] isaacabraham commented on #125
Hmmm. Have to read up on this and see how this is solved in ARM templates natively.

[2020-04-29 19:13] isaacabraham commented on #126
@clement128 that would be nice, but I think quite a bit of work to get the DSL to work across both ARM and the Fluent API.

[2020-04-29 20:52] dburriss commented on #128
@isaacabraham here is what I have so far for the contributions. Let me know if you think it is useful. Preferably I wouldn't make too many changes and it can evolve.

https://github.com/dburriss/farmer/blob/contributing/contributing.md

[2020-04-30 05:47] dburriss commented on #133
Yes sorry. Corrected the proposal.

[2020-04-30 14:17] dburriss commented on #132
@isaacabraham I hope you don't mind that I addressed the solution restructure and making it work in 1 PR (2 different commits) but they are both cleanup of paths. 2 birds, 1 stone.

[2020-04-30 17:30] dburriss commented on #131
Just checking. All I need to do is create the 1 .md file per resource for the docs? Everything else is handled by convention?

[2020-04-30 17:32] dburriss commented on #131
Another idea on this :)
As the number of resources grows, alphabetical ordering will become more important but keeping exact or will be tedious.
How about:
a = weight 1
b = weight 2
etc. ?

[2020-04-30 18:06] #132 closed

[2020-04-30 18:06] #134 closed

[2020-04-30 18:06] isaacabraham commented on #133
Then yes, please do :-)

[2020-04-30 18:07] isaacabraham commented on #131
Mmmm, not a bad idea :-)

[2020-04-30 18:07] #131 closed

[2020-05-01 03:35] dburriss commented on #133
I just wanted to confirm before pressing on with this. The proposal is for ALL DU types used in any config.

What about the Common ones?

[2020-05-01 07:40] isaacabraham commented on #133
Good question. Not sure - happy for you to take a view on this as you're doing it. Location and others like that I think don't really need qualified access - my thoughts were around the Sku ones to start with as they are all so similar in name.

[2020-05-01 07:51] dburriss commented on #133
Initially was just thinking of this in terms of SKU but obviously it is not.
I will go with all resource DUs NOT in Common first and we see what that looks like in a more complex example.

[2020-05-01 08:43] isaacabraham commented on #133
I would suggest starting just with Sku, then see what else is there. If we can avoid putting fully-qualified required everywhere, that would be better, I think, from a usability perspective.

[2020-05-01 18:00] dburriss commented on #133
@isaacabraham when you get a chance please take a look through the PR. I submitted as a draft as I see an issue with the referencing of 2 Skus.
For WebApp and AzureSql there is a `module Sku` with values for the sku.
I could rename, but `WebAppSku` is already taken...
Anything else BUT `WebAppSku` would not be unexpected. Same goes for SQL.
I have not dug into the WHY of this so I cannot comment t

[2020-05-01 21:05] dburriss opened #140 "Support the new WhatIf feature"
Azure CLI recently announced the new `what-if` functionality for ARM templates. It is currently in preview so I understand if we should wait to support this.

But it only took a few minutes to add it in so I thought I would float the idea.

[code]

[code]

[2020-05-03 19:41] dburriss commented on #133
@isaacabraham The PR is good to go except I still am not sure how to proceed with above comment. Thoughts?

[2020-05-04 10:07] isaacabraham commented on #133
I'm happy to merge in and then refactor - the main thing is getting the explicit types needed  :-)

[2020-05-04 10:07] #133 closed

[2020-05-04 20:39] isaacabraham opened #144 "Should IResource be "dumb" or smart?"
With the imminent merging of the interface branch, we currently have the following pattern which has become much clearer as part of that refactor:

1. `IResource`. Represents an ARM resource in F#. Examples include:
[code]

An IResource is typically a record and has two members - a Resource Name (used to detect duplicate resources) and a `unit -> obj` function which knows how to create a "JSON rea

[2020-05-04 22:07] #140 closed

[2020-05-06 19:47] emmchild commented on #126
Confirmed
Emmett E. Childress, Jr. | 2010 Media Consultants World Headquarters |
678.833.8277 | admin@approximare.com | Alpharetta, Georgia 30022

On Wed, May 6, 2020 at 3:47 PM Dave Curylo <notifications@github.com> wrote:

[2020-05-06 20:10] isaacabraham commented on #144
@ninjarobot agreed, we want to surface as much as possible as early as possible.

| Stage | Pros | Cons |
|-|-|-|
| Custom keywords input types | Compile-time safety | Adds extra syntax e.g. parameterises DUs need parenthesis around them, makes life harder for newcomers |
| Custom Keyword method bodies | Early in pipeline, no need for extra types | Runtime, not compile time, check.
| Run() method

[2020-05-07 04:51] dburriss commented on #144
From a library design point of view, I am in favour of the `IResource` being dumb, as this is the layer that already knows about the required ARM format due to `ToArmObject`. This gives us a low-level construct that is close to the metal...metal, in this case, being the eventual JSON format.

Support for a resource can stop there but the gains from bare metal ARM JSON are slight.

We then provide

[2020-05-07 08:29] isaacabraham commented on #144
@dburriss I was actually thinking of adding that as an overload to `add_resource`, so you can add them directly - I've written a factory function that does essentially does that for you, but there's no reason we couldn't just expose it directly.

# Common Terminology
Maybe it's a good idea to establish some common terminology here. It's getting a bit overwhelming and messy!

## IResource
An F# mod

[2020-05-07 08:45] isaacabraham commented on #144
Points for consideration (and I'm just thinking out aloud here):

1. If we allow people to supply IResources themselves and supply directly into the Farmer pipeline, there's basically no typing on them to ensure they adhere to any rules whatsoever.

2. Looking at the above example, consider the possibility that we decide tomorrow to create some higher-level builder / topology like "SAFE app" or "w

[2020-05-07 19:20] dburriss commented on #144
# Type-safety, building blocks, and seams
I do not think that giving users the option of using an `IResource` a problem, as long as we do provide higher-level constructs that do offer that ie. the `Config` and `Builders`. And maybe this is where we are diverging on view...

Currently, I see `IResource` as a raw persistence/transport implementation. It is a seam.
Imagine for example we needed to su

[2020-05-08 06:29] hravnx opened #147 "Support for PostgreSQL service"
Currently Farmer has support for SQL Service, but not pg - if I wanted to add support myself (and do a PR, obviously) where would I start? Any guidance?

[2020-05-08 08:40] isaacabraham commented on #147
@hravnx Hey! @dburriss is putting together a contributions guide - and we're kind of in the middle of a big refactor of the internals - but for now I would say the best way to start is:

1. Get a hold of the ARM documentation for PG e.g. [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.dbforpostgresql/allversions) and maybe an example e.g. [here](https://github.com/Azure/azure-pos

[2020-05-08 10:26] dburriss commented on #147
@hravnx you can find the current version here.
https://github.com/dburriss/farmer/blob/contributing/contributing.md
I will update it this weekend with the latest refactorings.

[2020-05-09 14:55] isaacabraham opened #149 "ExpressRouteCircuit question"
I am wondering if we should invert the relationship on Express Route. @ninjarobot, when you create express routes, do you think of them logically in terms of Peers or in terms of Circuits?

As an analogy, when I think of Azure WebApps, I don't think of it in terms of "I want a Server Farm that has a Website" - I think of it in terms of "I want a web app that happens to have a server farm". The sam

[2020-05-09 16:43] isaacabraham commented on #147
@dburriss Feel free to merge that into master. I can then keep it upto date in any branches where I make (sometimes sweeping) refactorings without undoing your hard work.

[2020-05-09 16:51] isaacabraham commented on #144
I think most of what you say I am 100% in agreement with. My worries are:

1. People wanting to reuse low-level ARM resource from high-level Builders. I can see this coming: The logic to create the same ARM resource from different builders will be different and without complex typing at the ARM resource layer, things might get out of hand. I really don't want to add *another* layer in between i.e.

[2020-05-10 04:51] dburriss commented on #144
I mentioned maybe we would one day need to support YAML instead of JSON.

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-reference-yaml

I did not know it was already a thing :)

[2020-05-10 07:28] dburriss commented on #147
Will do. Updating with the new direction and names from big reactors. Explaining it helps solidify it in my head.

[2020-05-10 16:56] isaacabraham commented on #144
Oh great!

[2020-05-10 18:13] isaacabraham commented on #149
OK. I might whip up an alternative version next week for you to review that merges both.

[2020-05-10 18:17] isaacabraham commented on #99
Having chatted with @panesofglass, I don't think this will easily be possible. We could potentially yield within `add_resources` but I'm not sure what the use case or benefit that would justify the cost of doing this.

[2020-05-12 06:26] dburriss commented on #144
You forgot the sarcasm font :P

[2020-05-12 18:40] panesofglass commented on #99
I may still try this again. There should be some solution that should work here, though it may not be as lovely as you'd like.

[2020-05-15 20:52] #128 closed

[2020-05-18 07:25] isaacabraham commented on #144
Closing - master now has updates that resolve this.

[2020-05-18 07:25] #144 closed

[2020-05-20 00:05] JordanMarr opened #156 "Cosmos DB "-server" suffix"
Having a great time with Farmer today creating my first template!

One small issue is that my Cosmos DB instance has "-server" appended to the name.
I specified this:
`name "jmarr-appname-db"`

But it shows up in the Azure Portal as "jmarr-appname-db-server".

Here is an excerpt from the generated template:

[code]

[2020-05-20 07:51] isaacabraham commented on #156
Use the `account_name` keyword in the builder :-) `name` specifies the name of the database. This is perhaps a little unclear - how could we make it more obvious?

[2020-05-20 09:54] isaacabraham opened #157 "PostgreSQL docs"
@hravnx would you be interested in having a crack at the docs for the PostgreSQL builder? Happy to help - we should probably add to the contributions guide.

[2020-05-20 09:54] isaacabraham opened #158 "ExpressRoute docs"
@ninjarobot would you be interested in having a crack at the docs for the Express Route builder? It's now live in the latest package.

[2020-05-20 09:56] hravnx commented on #157
Of course. Is it ready to pull again, with the refactoring you were going to do?

[2020-05-20 11:00] hravnx commented on #157
Oh, I see you’ve release. Never mind my question :-)

[2020-05-20 11:13] isaacabraham commented on #157
Yes, all good to go! The refactorings are in. I've updated the contributions guide but it still needs more work. Of course, feel free to enhance the builder / arm resource to support databases as well :-)

[2020-05-20 11:46] hravnx commented on #157
Sure, I’ll have a go - I’m fairly busy over the next couple of days, but I’ll get to it over the weekend. Just so you know I haven’t forgotten :-)

[2020-05-20 15:20] JordanMarr commented on #156
Ah ok, I see my mistake.

The "problem" is that Farmer let me move so quickly that I started to get disconnected from the Azure Cosmos DB domain nouns.  The ability to move so quickly is actually a really nice problem to have.  :)
After taking a step back and reviewing the Azure Portal "Create" Cosmos DB page, I am reminded that a Cosmos "account" can have multiple "databases"; my intent was to si

[2020-05-20 15:20] #156 closed

[2020-05-20 15:52] isaacabraham commented on #156
@JordanMarr yeah, I fixed `server_name` in the latest release but probably forget the others!! And yes, a design decision I made was to "collapse" the notion of DB and server into one to support people getting starter that they only need to know one thing. I'm still not convinced it's the right solution. It applies not just to Cosmos but in several other places: SQL, Service Bus Queues, Web Apps -

[2020-05-20 15:52] isaacabraham commented on #156
Could you raise an issue about the naming thing?

[2020-05-20 16:10] JordanMarr opened #160 "Cosmos DB documentation: "server" should be renamed to "account""
1. Fix "server_name" -> should be "account_name"
2. Fix "Server" text -> should be "Account"
3. Fix "link_to_server" -> should be "link_to_account"
4. (optional) Add "api" under "Account" properties with a note saying that it is not yet implemented, but that it currently defaults to "Core (SQL)".  (This is noted above, but it's easy to gloss over prose like that, and this would be a more obvious p

[2020-05-20 16:45] #160 closed

[2020-05-20 20:02] JordanMarr opened #161 "container instance - can't set "name""
I am trying to create a `containerInstance` (as shown in this [pull request](https://github.com/CompositionalIT/farmer/pull/43/files#diff-7fb6e2ba4e02ca360de6dfb82fcf2b4d) by @ninjarobot).

I could not find a `containerInstance` builder, but I did find `container` (which I am assuming is the same thing).

My problem is that when i try to set the `name` property I get "This control construct may on

[2020-05-21 03:26] JordanMarr opened #162 "Cosmos DB Missing "Unique Key""
I don't see the ability to add unique key(s) to a Cosmos DB container.
Maybe I can add this if it is not already in progress?

[code]

[2020-05-21 09:32] isaacabraham commented on #161
The old schema is out of data, you can now do the container group and instance in a single builder, see https://compositionalit.github.io/farmer/api-overview/resources/container-group/

[2020-05-21 09:33] isaacabraham commented on #162
Is that the same as adding an `index` in cosmos or something in addition to that? Indexes are supported: https://compositionalit.github.io/farmer/api-overview/resources/cosmosdb/

[2020-05-21 09:44] JordanMarr commented on #162
No, it’s a separate section from the indexes called uniqueKeyPolicy. I created samples with both one and two unique keys and verified the resulting xml.

[2020-05-21 10:01] JordanMarr commented on #161
I saw that, but I am trying to accomplish something slightly different:
I have a container that runs a short batch script once per hour, so i want to dynamically create a container group, launch the container instance within it, and then tear down the container group — and I will do the group creation and tear down dynamically via either an azure function or a logic app.
So in my scenario, i don’t

[2020-05-21 12:38] sWW26 opened #165 "Support for ServiceBus Topics"
Would be nice to be able to create topics
https://docs.microsoft.com/en-us/azure/templates/microsoft.servicebus/2017-04-01/namespaces/topics

Also would be nice to be able to build the service bus namespace separately so it can be passed into both queues & topics.

I'm not sure what the builders should be called, `serviceBus` is currently used for the queue + namespace combination.  Could maybe ha

[2020-05-21 12:42] sWW26 opened #166 "Support for Elastic Pools"
Would be nice to extend the SQL Azure builders to include elastic pools.
https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2014-04-01/servers/elasticpools

Also would be nice to be able to build the SQL server separately from the databases similar to how you can create service plans separately from webapps.

[2020-05-21 13:20] isaacabraham commented on #166
What's the use case for creating a server without a database?

[2020-05-21 13:38] isaacabraham commented on #161
Mmmm, that's an interesting case. That sounds like there's a few options:

1. Provide a "group only" builder. That shoudn't be too hard.
2. Just create the Farmer.Arm.ContainerInstance.ContainerGroup record manually and pass that into Farmer's add_resource method directly (or use the AsBuilder helper function to make it play nicely with the location). This is probably not as nice as option 1 but m

[2020-05-21 13:56] et1975 opened #167 "consider changing `depends_on` to take the object itself instead of name"
The burden of finding the right property can be lifted from the user, whether it's a name, ID or resource path can be determined by the operation itself.

Freya DSL does something similar with a bit of SRTP magic.

[2020-05-21 14:24] sWW26 commented on #166
Allows assigning multiple databases to the same server without creating a single database first then accessing its server property.  Perhaps there is another way to do it but the way I'd like to do it is something along the lines of the following (I have about 20 databases in one elastic pool):

[code]

However I've just spotted #79 so maybe you're trying to move away from this style?

[2020-05-21 14:48] JordanMarr commented on #161
I was thinking it would need to be a "container only" builder since I will create the groups at runtime.
Maybe a separate `Builders.ContainerInstance.containerInstance` builder?

[2020-05-21 15:18] JordanMarr commented on #161
I think this may be a non-issue.  I am used to creating a "Container Instance" via the portal, and so the fact that the docs call it a "Container Group" had me confused.  I do realize the a Container Instance runs in a group, but that's kind of an implementation detail IMO.  It seems like it should be called "Container Instance" in the docs instead of "Container Group".

[2020-05-21 15:18] #161 closed

[2020-05-21 15:34] JordanMarr commented on #161
Ok, so looking back at the original [pull request](https://github.com/CompositionalIT/farmer/pull/43/files#diff-7fb6e2ba4e02ca360de6dfb82fcf2b4d) I see that it was in the parent [ children ] style:
[code]

And then it was refactored to this style again (similar to what we discussed with Cosmos DB) where each container is broken out:
[code]

It's like three views of a secret!  There's the real thin

[2020-05-21 16:54] evilpilaf commented on #165
I'd like to implement this, I noticed the same missing resource a moment ago, but the question is on how we should name this builder... I like the clarity of splitting it into `serviceBusTopic` `serviceBusQueue` and `serviceBusNamespace`

[2020-05-21 16:57] evilpilaf opened #168 "Support for Traffic Manager"

[2020-05-21 16:59] isaacabraham commented on #166
For an elastic pool, I wonder whether we can simply have a flag on the sql { } builder that has the pool settings?

[2020-05-21 17:00] isaacabraham commented on #166
The "creating multiple items" is a good point though and one I hadn't considered.

[2020-05-21 17:00] isaacabraham commented on #166
Something I *don't* want is to create several builders, one for each low-level ARM resource - that kind of defeats the object of the builders. We should be thinking in terms of logical, high-level use cases.

[2020-05-21 17:03] isaacabraham commented on #168
@evilpilaf Good idea. Can you provide a sample template as a basis to develop the implementation?

Here's the ARM resource spec: https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2018-04-01/trafficmanagerprofiles

[2020-05-21 20:56] isaacabraham commented on #167
I was actually thinking about this today. Unfortunately I don't think SRTPs would suffice because the actual name of the resource is not always the "Name" property e.g. for the Sql Config, it's the ServerName that matters. We could add this onto the IBuilder interface, but that's just one more thing for authors to implement I think. Hmmmm.

[2020-05-21 21:00] isaacabraham commented on #165
Good question. I knew topics would eventually come up :-)

Few options:

1. We break out namespace into its own builder. This works for more complex usages than single queue / topic.
2. We make the existing service bus support topics and queues with a couple of custom keywords e.g. add_queues and add_topics, which themselves can be implemented through builders, records or even just functions.
3. W

[2020-05-21 22:36] sWW26 commented on #166
I quite like the pattern that's in place for web apps, where you can have the builder create the service plan for you or you can create it separately and link to it.  Best of both worlds?

[2020-05-22 00:33] isaacabraham commented on #166
Exactly what I was thinking of. I've started with the integrated version; how does this look:

[code]

[2020-05-22 07:19] hravnx commented on #157
I've created pull request #170 just documenting what's there - I will get to the extra stuff this weekend - I just quickly want to state for the record that it's slightly cumbersome to have the docs on a separate branch. It would be nicer if it was possible to submit docs along with the features that they are supposed to document.

[2020-05-22 08:33] isaacabraham commented on #157
That's something we were considering a while back. Maybe we can do that at some point :-) Create an issue for it?

[2020-05-22 09:51] sWW26 commented on #166
Looks good for the all in one approach, would want `elastic_pool_name` available too.

Would you be open to a PR that would also allow for the more manual approach, perhaps a single `SqlServerBuilder` that follows the same pattern with the `PoolSku`?

[2020-05-22 10:23] isaacabraham commented on #166
yes, sure, as long as it works cohesively :-) I'll finish off this and merge in, you can then work off of that?

[2020-05-22 10:50] sWW26 commented on #166
Sounds good

[2020-05-22 15:36] evilpilaf commented on #168
A sample template could be as such:

[code]

[2020-05-22 16:13] #167 closed

[2020-05-22 16:16] #162 closed

[2020-05-22 16:16] #157 closed

[2020-05-23 14:11] #147 closed

[2020-05-23 14:55] isaacabraham commented on #166
@sWW26 The initial work will be merged in shortly. I'm thinking it's worth looking at a few ways of modelling this. The way we currently have things done is that all of these "many-to-one" resources sit in a kind of denormalized format where both resources are collapsed into one. I'm still not sure the best way to go on this as best practice advice. For getting started - particularly when there's

[2020-05-23 16:46] hravnx opened #175 "Smoother workflow when writing docs"
At the moment the documentation source lives in a separate branch, imaginatively called `docs`.

So adding features with docs consists of these steps:

1) Fork/pull master
2) Code feature and tests
3) Commit, push and create PR for feature
4) Pull docs
5) Write docs
6) Commit, push and create PR for feature

While not especially difficult or bad, it does seem suboptimal. More importantly, perhaps,

[2020-05-24 12:07] sWW26 opened #176 "Support for Maps"
Quite a simple one
https://docs.microsoft.com/en-us/azure/templates/microsoft.maps/accounts

[2020-05-24 21:08] sWW26 commented on #166
Having poked around in the Azure portal it looks like it is possible to have more than one elastic pool on a single server although I've never used that feature.

Could possibly have that add_databases function on both the sql builder and the elastic pool builder?  So if you are using a pool you could go with something like:

[code]

[2020-05-25 09:20] #165 closed

[2020-05-25 09:21] isaacabraham commented on #176
Closed by #177

[2020-05-25 09:21] #176 closed

[2020-05-25 09:21] isaacabraham opened #179 "Docs for Maps"
@sWW26 can you add a docs page for this?

[2020-05-25 09:23] isaacabraham commented on #175
The historical reason is: when I started, I had no clue about hugo and started on a separate branch as an experiment. It's still there. I know that when @SeanKilleen did this work we discussed merging them - I'm not sure if there was anything holding us back on that?

Definitely happy to do this as it'll make it easier to keep them in sync.

[2020-05-25 09:25] isaacabraham commented on #166
Realistically, how often is this likely to happen? I would be inclined to target 80% of the most likely scenarios i.e. zero or one elastic pool per server in order to keep things simple. Then we can use this model:

[code]

This has the knock on effect of simplifying the builder for SQL in that there's no need to do the "attach" thing.

[2020-05-25 09:31] SeanKilleen commented on #175
@isaacabraham I don't think anything is holding us back from doing this. It was one of the options I presented way back when and I think we'd just happened to go a different way (note to self: document decisions like this within the PR in the future :smile: )

@hravnx do you want to take a crack at a PR for it? Otherwise I'm happy to. Docs folder on master is my preference as well.

[2020-05-25 09:32] SeanKilleen commented on #175
Found a historical mention of these options: https://github.com/CompositionalIT/farmer/issues/84#issuecomment-609498633

I think the docs were in a docs branch prior to my involvement, and we kept it that way for inertia's sake.

[2020-05-25 10:10] hravnx commented on #175
I can certainly take a look at it, and come up with an attempt, but I will likely need help when it comes to testing it.

[2020-05-25 10:32] SeanKilleen commented on #175
@hravnx ping me whenever you've got your PR ready and I'll check it out. 👍

[2020-05-25 12:38] isaacabraham commented on #175
Aha! I think that that last point was the key. This would mean that we might need to think about comparing the release of docs to the release of code.

Might it be worth having a docs branch which is simply branches off of master, and that this branch would be what GH docs runs off of? That way, whenever we do a proper release (nuget), we can choose to merge the docs then?

Or am I just complicati

[2020-05-25 12:44] SeanKilleen commented on #175
@isaacabraham

IMO, yes. :)

The way I see it, if you have a GitHub issue, and you submit a PR against it for code, you could either include docs in that PR, or submit a separate PR mentioning it. That doesn't require a separate docs branch and a separate branch could actually complicate it. Plus, the docs "branch" isn't an actual real branch off of the code, but is currently being treated like a

[2020-05-25 12:50] hravnx commented on #175
I will not have time to look at it before later in the week. So if you’re impatient, have at it :-)

[2020-05-25 13:17] sWW26 commented on #166
Yeah, not sure why you'd have multiple pools on a single server.  I think there could be a case for having some databases in the pool and some separate but ones outside the pool would need to have a SKU set.  So I guess the validator could make sure that the db was either attached to a pool or had a SKU specified?

[2020-05-25 13:37] isaacabraham commented on #175
Let's do it then. No rush - for now it works fine.

[2020-05-25 13:39] isaacabraham commented on #166
Exactly.

1. If you set the elastic_pool SKU at the top level then databases could implicitly sit inside it, unless you specific a sku (in which case they sit outside the pool). OR
2. we could be more explicit and have a flag at the DB level which is that attach_to_pool. But this still leaves the possibility to get things "wrong" anyway.

In the interests of keeping things simple from an API point

[2020-05-25 13:49] panesofglass opened #180 "Support static web hosting in Azure Storage"
[Docs](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website)

Static hosting is surprisingly nothing more than creating a StorageV2 account, then enabling static hosting. Enabling static hosting creates a container called `$web` where the static site files are to be deployed. This support could allow a user to specify a zip to upload to that container so that it's ready

[2020-05-25 13:51] panesofglass opened #181 "Add a toggle to generate a template with parameters"
I have a need to generate an ARM template that provides a parameters file that could be replaced for multiple deployments in different subscriptions, resource groups, etc. From a previous discussion, it sounds like Farmer already provides something this could build upon.

[2020-05-25 14:28] panesofglass opened #182 "Support new Azure App Service Static Web Apps"
[Azure Static Web Apps](https://azure.microsoft.com/en-us/services/app-service/static/), not to be confused with static hosting. (See #180)

[2020-05-25 14:29] isaacabraham commented on #181
Yes, there's already an `IParameters` interface that will create (currently secure only) parameters. We could expand upon this. Also though we would have to think about how to consume the parameter within each arm resource I guess?

[2020-05-25 14:33] panesofglass commented on #181
Seems the easiest option here would be to just make the secure parameters automatically wrap with something that could be declared explicitly for other parameters, then referenced where necessary? That may mean that a simple string value in some existing builders should now take a DU of `type Parameter = Plain of value: string | Param of name: string`?

[2020-05-25 14:49] isaacabraham commented on #181
From the user's perspective they should see no difference, they should still be plain strings on the top. I'm not sure how this would impact - I guess the problem is where the ARM template is generated, that's where *any value*, rather than being a simple string, would now be a choice of what you have above. Hmmm :-/

This might have other knock-on effects with things like ARM expressions.

Happy

[2020-05-25 17:05] isaacabraham commented on #123
@clement128 apparently you can't have two resource groups with the same id in the same subscription. so i'm not sure how this would happen!

[2020-05-25 21:42] isaacabraham commented on #180
@panesofglass The Azure CLI option isn't really a problem since we already support shelling out to the CLI, so this could just be a PostDeployAction. The same could apply for uploading the content - just part of the same PostDeployAction. I don't think we should generate an F# script for this - it can be done directly through the Farmer deploy process. See [here](https://github.com/CompositionalIT

[2020-05-26 09:49] clement128 commented on #123
hi @isaacabraham  yes I know the group id must be unique, but I just want to add the resource to existing resource group. Did I do something with this?

[2020-05-26 09:51] isaacabraham commented on #123
If you pick the name of the existing resource group and ensure it does to the same subscription it should just work? Or are you setting two resource groups with the same name in the same subscription?

[2020-05-26 09:52] clement128 commented on #123
Nope I didn't, but later I will try it again with the latest version, will update you.

thanks for the help

[2020-05-26 10:06] sWW26 commented on #166
Yep sounds good to me.  For my case I'd also need a way to specify a specific name for the pool, I guess that could be an overload that takes a name in addition to the Sku?

[2020-05-26 10:08] sWW26 commented on #179
Yep, will sort that out.

[2020-05-26 11:30] isaacabraham commented on #123
No problem, I am definitely interested in this one.

[2020-05-26 12:58] Samuel-Dufour opened #185 "Farmer.Template generate incorrect Program.fs"
Hi, I just tried to create a new project using Farmer.Template.
Unfortunately the generated Program.fs doesn't compile.
Replacing its content by the one shown in the documentation fix the issue.
I think the template should be fixed to avoid beginners frustration.

For information, here are both versions.

**Generated version** :

[code]

[Documented version](https://compositionalit.github.io/farme

[2020-05-26 16:33] isaacabraham commented on #185
@Samuel-Dufour I've just released a new version of the template which fixes all of this (I hope!) :-)

[2020-05-26 16:34] #185 closed

[2020-05-26 16:56] Samuel-Dufour commented on #185
@isaacabraham Fix confirmed ! Thanks ! :-)

[2020-05-27 08:42] #179 closed

[2020-05-28 08:49] sWW26 opened #186 "Support for Azure SignalR Service"
Azure SignalR Service
https://docs.microsoft.com/en-us/azure/templates/microsoft.signalrservice/2018-10-01/signalr

[2020-05-28 12:28] Tarmil opened #187 "Allow creating a VM on an existing vnet instead of creating one"
The `vm` resource currently always creates a dedicated vnet and subnet. It would be very useful to be able to instead only give a subnet resource name, which can be an existing one (or created separately).

[2020-05-28 18:46] isaacabraham commented on #166
@sWW26 I don't think computation expression keywords allow overloads of different numbers of arguments, so that might not work

[2020-05-28 18:47] isaacabraham commented on #166
Maybe a second keyword - elastic_pool_name or something?

[2020-05-28 18:52] isaacabraham commented on #187
What does "or created separately" mean - do you mean created separately through Farmer?

[2020-05-28 20:44] sWW26 commented on #166
I was looking at what else I use in my current ARM template and declare these properties:
[code]
I'm wondering if its going to be cleaner to have the `use_elastic_pool` take an elastic pool from a builder, e.g.
[code]

[2020-05-28 20:57] isaacabraham commented on #187
Also - do you need to be able to specify the subnet name / range?

[2020-05-29 11:51] isaacabraham commented on #166
If you think that those properties are commonly modified ones, yes - the alternative is to have them as standard keywords on the server itself and set some sane defaults there.

I'm not a massive fan of CEs as arguments to keywords as you can't put them inline without parentheses etc. sadly.

[2020-05-29 12:13] Tarmil commented on #187
That's what I had in mind, but I suppose that would require having `vnet` and `subnet` resource builders.

My initial idea was to just pass an existing subnet name, and that subnet's definition (wherever it is located) defines its containing vnet and its range. But it's probably also a common use case to have an existing vnet and to need to create a subnet by specifying a vnet name and a range. So

[2020-05-29 12:43] isaacabraham commented on #187
That's more or less the conclusion I came up to yesterday when I was trying to add this. The VM needs to know the subnet, and the subnet is created as part of the vnet. I'll finish it off this weekend and PR in.

[2020-05-29 13:22] sWW26 commented on #166
I'm not sure which are commonly modified I'm afraid, only what I've used 😄

Don't really have a preference on which way to go, although I wasn't aware of the CE argument issue 😞, so maybe having them straight on the server builder is cleaner.

[2020-05-31 14:34] isaacabraham commented on #187
@Tarmil does #190 look about right/

[2020-06-01 10:00] Tarmil commented on #187
Actually, it looks like it's possible to create the subnet independently on an existing vnet: https://github.com/Azure/azure-quickstart-templates/tree/master/101-subnet-add-vnet-existing

Regardless, #190 looks good to me! Maybe I'll do a subsequent PR to add a subnet resource.

[2020-06-01 10:23] isaacabraham commented on #187
Cool, I'll merge that in then!

[2020-06-01 10:23] #187 closed

[2020-06-01 10:24] #186 closed

[2020-06-01 18:31] isaacabraham commented on #175
@hravnx this seems to work :-) @SeanKilleen is there a way in GH actions to only get an action to fire if a file in a specific path has changed? Currently it rebuilds on any change to master.

[2020-06-01 18:34] hravnx commented on #175
https://github.blog/changelog/2019-09-30-github-actions-event-filtering-updates seems relevant

[2020-06-01 19:02] SeanKilleen commented on #175
@hravnx @isaacabraham one moment, I'll submit a PR.

[2020-06-02 09:26] #175 closed

[2020-06-02 09:27] isaacabraham commented on #123
@clement128 I think this might be you deployed the same resource group but to a different subscription. Is that possible? If you try to create an RG to a different location in the same sub as one that already exists, Azure rejects the request.

[2020-06-02 21:57] isaacabraham commented on #166
@sWW26 not sure if you're actively working on this - I could have a go at at least moving the sql server and db to their own builders as a first step?

[2020-06-02 23:37] isaacabraham commented on #166
@sWW26 All done, I think. It wasn't a lot of work in the end to get it working fully with pools once I'd split out the server and database elements. Can you review the PR and tell me whether you think it works for you? I've done an end-to-end, it seems to function. Note, there are some pretty complex combinations of min/max/capacity depending on the SKU: https://docs.microsoft.com/en-us/azure/azur

[2020-06-03 10:30] #166 closed

[2020-06-03 10:37] isaacabraham commented on #175
@SeanKilleen @hravnx I've busted it again. I *think* it's related [this commit](https://github.com/CompositionalIT/farmer/commit/a485cde1c3522fa411e08ede8220428d16fb549e), where I have added the submodule in or something. I actually have no clue what that's done but suddenly now the action [isn't working](https://github.com/CompositionalIT/farmer/actions/runs/123554477).

Any ideas? Note - the the

[2020-06-03 10:41] hravnx commented on #175
Playing devil’s advocate for a second: why does it have to be a sub module, if you have modified it anyway? Why not just copy the files into the main farmer repo?

In my experience, Git submodules leads to much confusion and problems that are many times worse than the problem they’re trying to solve.

[2020-06-03 10:46] isaacabraham commented on #175
Great question. I just copied the original process from the Hugo docs - so basically just cargo cult copy and paste. If we can do away with the submodule and put the theme directly in, that would be my preference.

[2020-06-03 10:51] SeanKilleen commented on #175
We had issues with submodules back in the beginning and removed them from the process.

If memory serves, we were able to specify a theme which would load it remotely, and we were able do overrides locally so that when a theme needed to be overriden, we'd just place that one modified file in a local directory.

I will try to find where I'd documented this during the original process and see if my

[2020-06-03 10:52] isaacabraham commented on #175
Awesome. Any reason why we can't just copy the whole theme across - I suppose the main issue is then that updates to the theme would become a manual process?

[2020-06-03 11:04] SeanKilleen commented on #175
OK, I figured it out -- my memory was incorrect actually, and submodules is the way things are done there. FWIW I don't recommend copying all the files; nightmare to keep up. I'd look into seeing if you can do remote theming and overrides without the sub-module, but you should be able to use the submodule without modifying it, only making changes to local layout files.

The issue: When we moved fr

[2020-06-03 11:10] isaacabraham commented on #175
Done. Don't know how to kick off another action run though!

[2020-06-03 11:13] SeanKilleen commented on #175
@isaacabraham AFAIK you need to make a change to the code; last time I checked GH Actions, unfortunately, does not yet support manual re-tries or manual starts of actions.

[2020-06-03 17:53] isaacabraham commented on #175
Works! Thanks.

[2020-06-03 17:54] isaacabraham commented on #71
@panesofglass the links above might be useful for the CDN work I think you're doing.

[2020-06-03 17:55] #149 closed

[2020-06-03 17:57] isaacabraham commented on #126
I'm closing this for now - I don't think this really aligns with where Farmer is going, at least for now. We can review in a few weeks / months if that's ok?

[2020-06-03 17:57] #126 closed

[2020-06-03 18:08] isaacabraham opened #196 "Allow builders to depend on any other resource"
With the recent core updates, we're now in a position to have any builder depend on any other builder or resource. Every builder file should now the following code applied to it:

[code]

In addition, the associated Config type should have a field, `DependsOn` with is of type `ResourceName list`.

Lastly, the associated underlying ARM resources should emit the resources in `DependsOn` to the ARM t

[2020-06-03 18:54] panesofglass commented on #71
Here's the one I did with static web hosting, too: https://github.com/panesofglass/azure-arm-static-webpage. I need to find some time, and then I'm happy to work on this. Any interest in pairing with me to get me bootstrapped, @isaacabraham?

[2020-06-04 06:57] hravnx opened #197 "Change PostgreSQL builder database handling"
Update the PostgreSQL builder to mirror recent changes to the Azure SQL builder.

[2020-06-04 09:07] isaacabraham commented on #71
Yep, for sure - maybe tomorrow afternoon?

[2020-06-04 09:42] isaacabraham commented on #196
@theprash maybe one for you?

[2020-06-05 14:53] sWW26 opened #198 "Add support for web app slots"
https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/sites/slots

Would also be useful to be able to make app settings "slot sticky".  I can't find any official documentation or reference but I've been using the following in my ARM templates.

[code]

[2020-06-05 15:54] isaacabraham commented on #198
@sWW26 where is the stickyness specified to a slot here?

[2020-06-05 16:41] sWW26 commented on #198
@isaacabraham in trying to simplify the example I ended up making it invalid!  Expanded it a bit to 1. make it valid & 2. give some context.

Anything that is listed in the slotconfignames resource is counted as sticky, anything not listed is not.
![image](https://user-images.githubusercontent.com/6764717/83902093-b2ac9380-a753-11ea-9fd8-6f5bb819a6aa.png)

[2020-06-05 16:55] isaacabraham commented on #198
ok! So is this why there are two ways to create settings in ARM? :-)

[2020-06-05 17:26] isaacabraham commented on #198
Note from the above - there's currently no support for connection string settings in Farmer.

[2020-06-08 13:20] #158 closed

[2020-06-08 15:34] isaacabraham commented on #198
@sWW26 should this be part of a bigger thing which is about modelling deployment slots as well? I'm unsure how this should manifest itself without that. Would this be part of setting the value of the setting or a separate keyword which simply says "these settings are sticky"?

[2020-06-08 17:39] #196 closed

[2020-06-08 21:49] sWW26 commented on #198
I noticed but we've discovered we don't really need to use it for our purposes anyway, can just use `ConnectionStrings: Database` instead in the app settings.

I think adding just the sticky setting thing only doesn't make sense. If you like I can try and put a PR together with some basic setup. I'm thinking having a `slots` function on the builder which takes a list of slots built using their own

[2020-06-10 21:01] et1975 opened #205 "Configure Managed Identity and CORS"
Any guidance on how to set those up for a function?

[2020-06-11 14:31] onionhammer commented on #71
Just looking over my manually built template; CDN is pretty much the only thing I can't do with Farmer right now

[2020-06-11 15:06] isaacabraham commented on #71
Which features for the CDN do you need? I got quite far with it but never finished it off because I wasn't sure how far to replicate the features.

[2020-06-11 15:49] onionhammer commented on #71
@isaacabraham my current ARM template defines a `Microsoft.Cdn/profiles` and two child `endpoints`, enables compression and sets content types to compress, and custom hostnames.

it looks something like this

[code]

[2020-06-12 10:51] clement128 opened #210 "How to support private container registry for Container Groups"
hi there, may I know how to use private container registry for deploy to container group?

I am getting this error
[code]

[2020-06-12 15:59] isaacabraham commented on #210
@dburriss @forki have you done this? I think currently we only support ACR but I might be wrong here.

[2020-06-12 16:00] isaacabraham commented on #205
@et1975 Managed Identity is ready in a PR - currently only for web apps but it will be very easy to add to functions. CORS - if you have an example of how to do this in ARM it can be added.

[2020-06-12 17:37] et1975 commented on #205
Isaac, here's what it should look like in arm: https://stackoverflow.com/questions/46921887/azure-functions-how-to-set-cors-via-automation

[2020-06-12 18:29] jostein-skaar opened #213 "Support for Custom domains for Web App"
It would be nice to be able to add mydomain.com, and even better the free ssl certificate part as well. (Luckily it doesn't get removed if one redeploy.)

Be aware: Custom domains are not available for the free tier.

I guess this is some documentation on the matter:
https://github.com/Azure/azure-quickstart-templates/blob/master/201-web-app-custom-domain-and-ssl/azuredeploy.json

[2020-06-13 06:48] dburriss commented on #210
I would need to look into it more as have not done it myself but I believe the Farmer resource needs support for `networkRules`. I need to confirm but I could add it once I have confirmed that is all that is needed.

[2020-06-14 11:44] michaelkc opened #215 "Support for resource groups at the subscription level"
ARM supports the concept of subscription level resources, where instead of the ARM template being deployed to a resource group, the ARM template itself contains one or more resource groups, with other resources nested underneath.
See
https://samcogan.com/deploying-resource-groups-with-arm-templates/
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-subscription

Sup

[2020-06-14 12:00] michaelkc commented on #213
AFAIK the (App Service Managed) certificate part currently suffers from a chicken-and-the-egg problem: The certificate generation cannot be specified in Arm, and cannot be done without a running App Service with a custom domain configured for the certificate subject. So you basically have to define the App Service with custom domain in Arm:
[code]
Deploy it, then generate the certificate
[code]
ex

[2020-06-14 19:27] isaacabraham commented on #213
We could look at doing this with a post-deploy task - Farmer already supports this for things like uploading code into a webapp. However, it sounds like this one would be even more involved because it would need ARM deploy, Az call and then *another* ARM deploy!

[2020-06-14 19:31] isaacabraham commented on #215
Whilst I'm definitely not saying "never" for this, I would say that this is probably out of scope of the immediate set of features that are probably suitable for a v1: The original aim of Farmer was explicitly to target non-complex deployments in order to (a) keep the workload light and allow quick iterating, and (b) to ensure the API remains simple.

ARM deploys at subscription level are relative

[2020-06-14 19:55] #205 closed

[2020-06-14 19:58] isaacabraham opened #216 "What is left for a v1.0?"
I get the sense that Farmer has now reached a point where what we're doing is adding more resources (great!) but in terms of high-level features and the API, things have more or less stabilised.

What do people think would be required for a v1.0 that's not already there?

cc: @dburriss @viktorvan @forki @hravnx @sWW26 @ninjarobot

[2020-06-14 20:21] forki commented on #216
+1

Am So., 14. Juni 2020 um 21:58 Uhr schrieb Isaac Abraham <
notifications@github.com>:

[2020-06-15 00:49] et1975 commented on #205
Thanks!

[2020-06-15 10:27] sWW26 commented on #216
Everything I need is there 👍

[2020-06-15 14:27] isaacabraham opened #218 "Document Validation process"
Does anyone fancy adding this to the docs?

* What's the best approach for validation?
* When to fail?
* How to fail?
* What to do?

We're kind of inconsistent here anyway so this is a good opportunity to come to consensus on this.

[2020-06-15 14:27] isaacabraham opened #219 "Outputs"
Document how Outputs work in Farmer from a Builder author perspective.

[2020-06-15 14:28] isaacabraham opened #220 "Document Dependencies"
Document how to add dependencies in a consistent way (e.g. depends_on with overloads etc.).

[2020-06-15 14:28] isaacabraham opened #221 "Document Secure parameters"
Document how to manage secure parameters from an author point of view.

[2020-06-15 14:29] isaacabraham opened #222 "Document how to create multiple resource builders"

[2020-06-15 14:29] isaacabraham opened #223 "Document how to linking resources (one-to-many relationships)"

[2020-06-15 14:29] isaacabraham opened #224 "Document Post-deploy tasks"

[2020-06-15 18:45] viktorvan commented on #216
Yes, I think this is ready for 1.0.
The docs have really turned out great, by the way!

[2020-06-16 04:43] dburriss commented on #216
Do it! :)

[2020-06-16 06:46] forki opened #226 "Set default Sku for keyvault"
Otherwise:

 Unhandled exception. System.Exception: Deployment failed. Correlation ID: a1b92922-57c7-4f43-91ac-12634488fb57. {
   "error": {
     "code": "BadRequest",
     "message": "The key vault sku is invalid."
   }
 }

[2020-06-16 07:32] forki commented on #226
ok this is not a problem with the default but with `RequireQualifiedAccess` on the DU.

So the ToString() doesn't work with latest FSharp.Core.

/cc @cartermp

[2020-06-16 09:10] #226 closed

[2020-06-16 19:24] forki opened #228 "add user identity support to Farmer keyVault"
In order to properly set up the vault we need to give users access to the vault

[2020-06-17 06:24] forki opened #230 "Add add_secrets to keyVault"
One secret is no secret. I'd like to be able to add secrets from a list.

[2020-06-17 07:06] #230 closed

[2020-06-17 08:12] isaacabraham commented on #228
This can be closed.

[2020-06-17 08:12] #228 closed

[2020-06-17 08:13] isaacabraham commented on #99
I think the main benefit might be that we wouldn't need to create single and collection versions of keywords e.g. `add_secret` and `add_secrets`.

[2020-06-17 16:09] baronfel opened #232 "Slack callouts for doc pages have an autogenerated slug"
![image](https://user-images.githubusercontent.com/573979/84922086-fd4ed980-b08a-11ea-925a-4ca0ee2d5ec4.png)

Here you can see the auto-generated content slug "Documentation for the Hugo Learn Theme". I think ideally each page would have a front-matter summary that would appear here instead.

[2020-06-18 08:40] isaacabraham commented on #232
Thanks - I thought I'd fixed this but evidently not!

[2020-06-19 16:50] isaacabraham commented on #232
Fixed

[2020-06-19 16:50] #232 closed

[2020-06-19 17:26] isaacabraham commented on #232
Fixed.

[2020-06-19 22:49] #219 closed

[2020-06-22 08:50] Nemeczek opened #238 "Serverless Azure SQL Tier"
Hi,

Is possible to create serverless Azure SQL Server? I do have an issue trying to backtrack Farmer DbSku back to the Azure SQL sku.

The SKU I am looking for in ARM is:
"GP_S_Gen5_1"
https://docs.microsoft.com/en-us/azure/azure-sql/database/resource-limits-vcore-single-databases
![image](https://user-images.githubusercontent.com/1111404/85267613-c6efd080-b475-11ea-85b7-85691a768db0.png)
****

I

[2020-06-22 11:07] isaacabraham commented on #238
This would be a great PR candidate - currently Farmer only supports the original DTU model. I'm not sure what's involved in this - if it's just about adding a new SKU or if this impacts things that the current model already supports e.g. elastic pools etc.

I would suggest the first step would be to identify what the differences are with the templates that are currently generated.

[2020-06-23 13:44] isaacabraham opened #242 "Add support for File Shares to Storage Account"
@ThisFunctionalTom mentioned that this would be a useful feature to add and he's going to have a crack at it.

[2020-06-23 15:46] isaacabraham commented on #71
@panesofglass do you mind if someone else (probably me!) picks this up? I would love to get it in this week.

[2020-06-23 19:57] isaacabraham commented on #71
@onionhammer is there only one origin in your experience - and is that origin hostname always the same as the origin host header?

[2020-06-23 20:57] isaacabraham commented on #71
@onionhammer Also - I need to understand more about how you use the origin hostname - could you provide another version that's not parameterised? This helps me understand what the sort of values are.

[2020-06-23 21:17] Limp-monkey commented on #238
Objectively, this is really important. But it's just a consequnce of how azure dynamically changes - does Farmer have an easy method of adjusting to the model changes in azure? My own experience with alternatives, like terraform, is that it's really difficult to keep up with the changes.

[2020-06-23 21:32] isaacabraham commented on #71
@onionhammer here's what I have so far. Tell me what you think:

[code]

maps to the following json:

[code]

[2020-06-23 22:59] JordanMarr opened #243 "Parameterized Logic App for loading a container instance"
I have created a Logic App that is responsible for scheduling and running a containerized batch process.

It handles the following:
- Triggers by timer
- Pulls container from Azure Container Registry
- Creates and runs a container group with configured name
- Polls to see if container group creation has succeeded and also if container instance is terminated (completed)
- Deletes the container grou

[2020-06-24 00:21] panesofglass commented on #71
@isaacabraham feel free! Sorry I'm taking so long to get to it. Will you ping me when you do it? Maybe I can still help. I've just been swamped the last few weeks.

[2020-06-24 08:37] isaacabraham commented on #238
I'm sure this can be added - best place to start is putting an example ARM template of the general purpose model and comparing with the DTU model.

[2020-06-24 10:21] isaacabraham opened #245 "Add Identity support for Storage Accounts."

[2020-06-24 20:58] Nemeczek commented on #238
@isaacabraham I will look into it during the weekend. I do have ARM templates because we are using serverless quite heavily for any development environments.  Terraform also does not support it :P

[2020-06-25 16:21] ericsoler1 opened #247 "Support Microsoft.Network/dnsZones"
Want to work on adding support for Microsoft.Network/dnsZones, Microsoft.Network/dnsZones/NS, and Microsoft.Network/dnsZones/A here https://github.com/ericsoler1/farmer

[2020-06-25 20:33] Jandev opened #248 "Doing a `quickWrite` to non-existing folder throws exception"
I was following the example and wanted to output the deployment file to a new folder called `deployment`, so came up with the following code
[code]

The `deployment` folder does not exist, so the runnint the application throws an error

While it's quite obvious and easy to create this folder, it would be nice if Farmer would create it by itself if a folder doesn't exist.
It's not a very important

[2020-06-25 23:35] #124 closed

[2020-06-25 23:40] isaacabraham commented on #71
@panesofglass @onionhammer @nojaf fancy having a look at the PR (particularly the sample) to see whether this is good to go?

[2020-06-26 09:54] isaacabraham commented on #248
Yep, this is a great first issue. Perhaps you would like to have a bash at it? :-) The function that needs changing is [here](https://github.com/CompositionalIT/farmer/blob/master/src/Farmer/Writer.fs#L31).

[2020-06-26 10:02] #71 closed

[2020-06-26 12:25] Jandev commented on #248
I'm getting on it, right now!

[2020-06-26 14:11] onionhammer commented on #71
Looks awesome, great work @isaacabraham !

[2020-06-26 15:04] isaacabraham commented on #247
Coordinate with @ninjarobot - the master of Farmer networking.

[2020-06-26 15:13] isaacabraham commented on #248
Fixed by #249

[2020-06-26 15:13] #248 closed

[2020-06-26 19:43] isaacabraham opened #250 "Stop nesting ARM resources"
ARM templates [allow you to nest one resource inside of another](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/child-resource-name-type). I'm proposing that we stop doing this in Farmer:

## Reasons to keep nested resources
1. Easier to see in the raw ARM template the relationship between resources. However, this is all relative - ARM templates are not easy to visually pa

[2020-06-26 20:47] isaacabraham commented on #250
* [CDN](https://github.com/CompositionalIT/farmer/pull/251)

[2020-06-26 22:35] isaacabraham commented on #250
I've also gone through and realised that only one resource used the "merge resource" functionality, which is PostgreSQL. I've left the builder as is but by moving to the "no nested resources", the builder still works as before - just the implementation of IBuilder is different (returning databases and firewalls and an optional server). @hravnx would be great if you could validate what I've done is

[2020-06-27 22:16] bobbydazzler opened #252 "SecretBuilder throws exception on a valid secret name"
I think adding validation to SecretConfig.Create has introduced a regression via the SecretBuilder.Yield function.

[code]
Unhandled exception. System.Exception: Key Vault key names must be a 1-127 character string, starting with a letter and containing only 0-9, a-z, A-Z, and -. '' is invalid.
   at Microsoft.FSharp.Core.PrintfModule.PrintFormatToStringThenFail@1637.Invoke(String message) in F:\w

[2020-06-29 08:18] vjraitila opened #253 "Support for Event Hubs Capture"
Farmer DSL does not support enabling capture for Event Hubs. Please enable this.

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-resource-manager-namespace-event-hub-enable-capture

[2020-06-29 08:47] #250 closed

[2020-06-29 08:59] isaacabraham commented on #252
Doh! I'll fix this.

[2020-06-29 08:59] isaacabraham commented on #252
In the short term you can use the `secret` keywords on the builder.

[2020-06-29 11:18] isaacabraham commented on #252
Fixed by [this commit](https://github.com/CompositionalIT/farmer/commit/a9812a66d1405a394d36acd9b769d29510f5ad7b).

[2020-06-29 11:18] #252 closed

[2020-06-29 11:20] isaacabraham commented on #253
This looks like a really nice addition to have and could be done quite nicely I think.

[2020-06-29 11:22] isaacabraham commented on #253
@vjraitila could you put together some pseudo-code here as an example of how you might like to access / consume this?

[2020-06-29 17:07] isaacabraham commented on #252
@bobbydazzler Fixed in 0.20.1.

[2020-06-29 20:12] Aaronontheweb opened #255 "Add Azure Kubernetes Service support"
Would love to see some AKS support, especially some samples that do complicated but business-necessary stuff such as:

- Connect an ACR to the AKS cluster
- Support for Container Networking Interface
- Automatically bringing in Azure AD support for Kubernetes' Role Based Access Control (RBAC)
- Adding [Open Service Broker for Azure](https://osba.sh/) to an AKS cluster
- Provisioning storage / clou

[2020-06-29 20:38] isaacabraham commented on #255
Some links:

* [101 Sample](https://github.com/Azure/azure-quickstart-templates/blob/master/101-aks/azuredeploy.json)
* [Sample with VNet](https://github.com/Azure/azure-quickstart-templates/tree/master/101-aks-advanced-networking) - I have no clue at first glance what's happening here. @ninjarobot might have more luck parsing this.
* [Official template docs](https://docs.microsoft.com/en-us/azure

[2020-06-29 20:39] isaacabraham commented on #247
@ericsoler1 if you've actually done some work on this, please feel free to create as a pull request. I'd be happy to show you how to do this if you're not sure.

[2020-06-29 20:45] ericsoler1 commented on #247
@isaacabraham thanks for the offer. Unfortunately I may be closing this work down because we can't meet our use-cases for working with Azure DNS using ARM templates alone. So I am exploring using the Microsoft.Azure.Management.Dns SDK instead

[2020-06-29 20:45] #247 closed

[2020-06-29 21:17] isaacabraham opened #256 "Create a Dependency type"
You can use a combination of ResourceId expressions and ResourceNames as dependencies. Currently we only support ResourceNames and have to "push" resourceId expressions into ResourceNames. We should look to create a new type that can cater for both of these safely.

[2020-06-30 08:16] isaacabraham commented on #247
@ericsoler1 may be worth looking if you can achieve what you need through a combination of ARM and the Azure CLI - Farmer has a wrapper around the CLI that you could potentially harness as well.

[2020-06-30 08:40] #253 closed

[2020-06-30 13:16] Thorium opened #259 "Executing a script"
I have a few questions, because the current documentation seemed a bit thin. I'd like to deploy a VM and an Azure SQL database by Farmer. Very basic software architecture. For that, I need to execute a few scripts:

1) Virtual Machine,
   - Execute cmd/bat/shell-script. [That is possible](https://techcommunity.microsoft.com/t5/itops-talk-blog/how-to-run-scripts-in-your-azure-vm-by-using-run-comman

[2020-06-30 13:27] Thorium commented on #168
Here is a traffic manager that routes to external endpoints (IP-addresses, can be e.g. Azure VMs) by priority:

[code]

[2020-06-30 14:02] isaacabraham commented on #259
## VMs

1. Scripts - you can run a post-deployment script on a VM in an ARM template. We haven't exposed that yet in Farmer but there's no reason why we couldn't - I suggest raising an issue.
2. Transferring files - we *could* build a post-deploy task to upload files from the local machine onto the VM. The pure ARM way is to upload files into a storage account first and then reference them in the

[2020-06-30 14:24] Thorium opened #260 "Static IP arm-template"
I don't know how far Farmer is with this, so I'll try to help. Ignore all you already know or do better. As far as I know, you need first a "Network Interface" as a parent node.

Then you can bind resources like a
- "Static IP address"
- "Network Security Group" (basic firewall settings)
- and "Virtual Machine"

...under that "Network Interface". But for easier management, different "Network Inter

[2020-06-30 14:35] Thorium commented on #259
This was supposed to be the issue for "run a post-deployment script on a VM" but then I just raised other points to here as well...

I guess the SQL-part can be considered as done: SQL-script can create more logins, so that's not big problem, I can just connect to database and execute the login-creation scripts as other scripts.

And yes, I would really much like an auto-magical upload-files syste

[2020-06-30 15:28] Aaronontheweb commented on #255
Yeah it's complicated - I'm looking at doing things like integrating Azure AD / AKS RBAC configuration and it looks like some of that has to be done within the Kubernetes cluster and not within the ARM template itself: https://docs.microsoft.com/en-us/azure/aks/azure-ad-rbac

[2020-06-30 20:42] isaacabraham commented on #260
Looping @ninjarobot in on this one again. Networks seem to be hot at the moment :-)

[2020-06-30 20:45] isaacabraham commented on #259
@Thorium something like this? https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows

[2020-06-30 21:57] isaacabraham commented on #259
@Thorium there's a PR to allow inline scripts if you would like to test that out (you can download and build Farmer directly from that branch and reference it directly in e.g. a script etc.).

[2020-07-01 12:49] isaacabraham commented on #259
I've reopened this because you raised other points as well - if you want to move them to other issues and then close this one, that's fine.

[2020-07-01 13:34] JordanMarr opened #262 "Support for Log Analytics"
Should be an easy one.

[2020-07-01 15:21] Thorium opened #263 "Upload files to VM"
## VMs
2. Transferring files - we *could* build a post-deploy task to upload files from the local machine onto the VM. The pure ARM way is to upload files into a storage account first and then reference them in the ARM template. However, this requires a storage account to have been already created and the files uploaded. An alternative is to upload via Azure CLI or SSH - again, Farmer could wrap t

[2020-07-01 15:22] #259 closed

[2020-07-01 16:58] bobbydazzler opened #264 "CosmosDbConfig.PrimaryKey returns a string that is incompatible with ArmExpression at runtime"
I'm trying to add a Cosmos PrimaryKey as a Secret in KeyVault, however the secret deployed to KeyVault is the arm template string, e.g., "[listKeys(resourceId('Microsoft.DocumentDB/databaseAccounts', 'local-db-server'), providers('Microsoft.DocumentDB','databaseAccounts').apiVersions[0]).primaryMasterKey]", rather than the primary key value itself.

[code]

Produces the following outputs:

[code]

[2020-07-02 05:36] ctolkien opened #265 "Support Access Control Allow Credentials for functions and web apps."
[code]

Results in:
`Unhandled exception. System.UriFormatException: Invalid URI: The format of the URI could not be determined.`

From the Azure Portal:

[2020-07-02 06:34] ctolkien commented on #265
I didn't RTFM:

`WebApp.AllOrigins`

[2020-07-02 08:30] isaacabraham commented on #264
Hey @bobbydazzler. Looks like a bug here - Farmer (obviously) shouldn't be double-encoding the expression, which explains why it isn't working. We did make a few changes recently to the way we handle expressions and secrets and its possible that this has slipped in as a result of that (argh!). Let me have a look to see if I can find the issue - happy to turn over to you if you want to do a PR, of

[2020-07-02 08:43] isaacabraham commented on #264
@bobbydazzler I think I've identified the issue: We should be returning those properties (`PrimaryKey` and `Endpoint`) as `ArmExpressions` without wrapping in `[]` (or leave it as a raw string but _without_ square bracket)

When you "emit" an ARM Expression in Farmer into the raw template, we use the `Eval()` method:

[code]

which automatically wraps the final expression square brackets. Because

[2020-07-02 08:46] isaacabraham commented on #265
We could either check for * and implictly convert to `AllOrigins` or at least show a better error.

[2020-07-02 08:56] bobbydazzler commented on #264
@isaacabraham Looks great, thank you for such a quick response too.

FYI, I think you might have a similar problem with .Key in Builders.SignalR too - but if you don't get round to that today, I'll add to a PR...

I'll add other properties in a PR in the next few days and if I spot any other issues along the same lines, I'll include fixes.

[2020-07-02 08:57] isaacabraham commented on #264
I'm also going to put a PR in that checks for double-encoded ARM expressions.

[2020-07-02 08:58] #264 closed

[2020-07-02 10:45] isaacabraham commented on #264
This has now been released.

[2020-07-02 10:45] isaacabraham commented on #259
This has now been released.

[2020-07-02 10:45] isaacabraham commented on #253
This has now been released.

[2020-07-02 23:08] ctolkien commented on #265
There is this feature too which I don't think is exposed:
![image](https://user-images.githubusercontent.com/515955/86416226-b7417900-bd0c-11ea-9dd8-dc3c302c1966.png)

[2020-07-03 07:43] isaacabraham commented on #255
I've been thinking about this. Farmer already does have an SDK wrapper around the Azure CLI and we do jump between ARM and the CLI already. We could do another one for kubectl as well but it would be a piece of work. The place to start (given my lack of expertise in K8s) would be to see a complete, end-to-end sample and see where the K8s parts are and where the ARM stuff is, and see what would be

[2020-07-03 07:46] isaacabraham commented on #265
@ctolkien does that relate to this: https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2019-08-01/sites#corssettings-object ? Or another setting? If you can show us which setting is needed we can definitely add it.

[2020-07-03 07:51] #242 closed

[2020-07-03 14:04] Thorium commented on #260
Thank @ninjarobot, looks good! I see this as typical scenario for hosting services:

a) 2 different servers instances (VMs or whatever) and any kind of load-balancer (I use Traffic Manager) to ensure 99.99% SLA: while deploying updates to the other, the other can be running.
b) For the server(s), the following (same) firewall rules:
   1. There are web-pages, and SSL-web-pages.
   2. And there is

[2020-07-03 14:22] Thorium opened #270 "Azure DNS zone"
Sorry to spam you with new ARM-template feature requests, but an Azure DNS Zone support would be nice.
This is kind of related to https://github.com/CompositionalIT/farmer/issues/168 because Azure Traffic Managers seems to work best with Azure controlling also your domain's DNS.

This is an ARM-template example for a DNS zone file:

[code]

[2020-07-03 17:43] Thorium commented on #168
Would this make it possible to create f# script that deploys a new server and modifies the existing traffic manager to use that, if we know that there is a heavy traffic, e.g. a marketing campaign starts tomorrow?

[2020-07-04 13:45] isaacabraham commented on #263
@Thorium this is now supported through the `upload_script_files` feature - requires that the file is accessible publicly. I take it you want to upload files from *local* storage?

[2020-07-04 14:41] Thorium commented on #263
I was thinking of uploading non-script files, like a certificate and a web-server root folder.

[2020-07-04 22:03] bobbydazzler opened #273 "Missing Cosmos DB properties"
A couple of useful properties are missing on the CosmosDb builder:

- secondary key
- readonly primary & secondary key
- primary and secondary connection strings

[2020-07-05 09:57] isaacabraham commented on #263
The "script files" is a bit of a misleading term. It can be any file you want. The idea is that you can access them from any script that you run as part of the deployment process - so you could use it to upload files as part of the deployment and then use the script to copy the files to the appropriate part of the file system etc.

[2020-07-05 09:58] #273 closed

[2020-07-05 10:43] isaacabraham commented on #123
Unless this is still cropping up, I'm inclined to close this issue.

[2020-07-06 01:20] ctolkien commented on #265
@isaacabraham - yes that maps to the  `supportCredentials` propery on the `CorsSettings` object.

I'll re-open / rename this ticket to track the work of adding that in?

[2020-07-07 03:42] clement128 commented on #123
Hi @isaacabraham as I test it's working on the following version
- Farmer 0.21.0
- Azure CLI 2.8.0

thanks

[2020-07-07 03:42] #123 closed

[2020-07-07 08:02] isaacabraham commented on #123
@clement128 I think the issue is most likely that it was picking up different subscriptions and deploying to them. Perhaps something we could add to Farmer is to emit the selected subscription out during deployment.

[2020-07-07 22:29] ctolkien commented on #123
Would love this. The first time I used the `deploy` function in Farmer, I had _no_ idea where those assets were deployed! (I have a lot of tenants/subs that we manage).

[2020-07-08 06:47] isaacabraham opened #278 "Display subscription ID on deploy"
For users that have multiple subscriptions, it can be useful to know which subscription Farmer deploys into. This can also reduce the chance of "false" reports of failures due to deploying the same Farmer template into different subscriptions. Linked to #123

[2020-07-08 19:25] #278 closed

[2020-07-08 19:31] isaacabraham opened #280 "Better integration for VMs and Gateways"
I've cleaned up some of this so you can more easily connect a VM to a Gateway:

[code]

However we could go further:

[code]

Or even

[code]

Question is, is this the "right" thing to do? Are the defaults above (especially the choice of DynamicPrivateIp) sane? I don't mind if it doesn't suit everyone - I'm thinking of 80% of the people that want a gateway.

@Jandev As a user of Farmer and someone

[2020-07-08 19:31] isaacabraham commented on #280
Also cc: @ninjarobot incase you have some thoughts?

[2020-07-09 00:38] ctolkien commented on #265
I had a crack at this, whilst I might get it working, I've no idea on idiomatic F#.

[2020-07-09 07:44] Jandev commented on #280
If I was to choose between these three options, I'd go for the third one.

The current `vm`-builder adds a public IP to the virtual machine. While this is the default behavior, it's not recommended to expose machines to the internet without any security in place. I get why it's developed like this now, but seeing the gateway is supported now, I think it's better to integrate this stuff with the bu

[2020-07-09 14:38] isaacabraham commented on #280
@Jandev great, thanks for the advice. I think we can support all of those options.

Having the gateway "on" as the default comes with one cost - the deployment time goes through the roof, so I would be reticent to turn that on by default, but having a simple turn-key solution for "I want a VM that is only accessible via a private vnet + gateway" seems like a good compromise.

In my current branch,

[2020-07-09 16:32] Dzoukr commented on #77
I am currently working on project using Logic Apps (please don't ask 😄) so I would really love to have it under Farmer's control like everything else without clicking these things. The problem with Logic Apps is that its definition is a mess and having separate DSL would be so complex (with all the adapters available) that you could call it Farmer v2.

I am thinking about lightweight support for L

[2020-07-10 08:45] isaacabraham commented on #77
Yes, definitely. I thought of this as a first path to bringing in Logic Apps - first start with raw json for the *content* of the app but at least use Farmer for the orchestration. I think Logic Apps is so complex that we could look at making a dedicated Farmer.LogicApps package which would be a DSL that emitted the JSON for Farmer, but had its own DSL for constructing the logic app content.

[2020-07-14 07:44] isaacabraham commented on #180
@panesofglass can this be closed now given #282?

[2020-07-15 13:50] Dzoukr opened #283 "Discussion about Farmer future: Move from ARM templates to AZ CLI"
Hello @isaacabraham,

since our morning discussion about how awesome is to have combination of ARM templates with Post-deploy tasks, I am thinking about this:

I love what Farmer can do right now. For example the thing I can _setup_ infrastructure and _deploy_ to it is amazing. The problem here is, that to have both, you need to combine ARM with AZ CLI and as a user of Farmer you have to be _aware

[2020-07-16 23:58] panesofglass commented on #180
Looks good to me!

[2020-07-16 23:58] #180 closed

[2020-07-17 09:26] isaacabraham commented on #283
Hah :-) I think this is not a terrible idea but I suspect it would need to be an alternative to the ARM template generation as opposed to an instead of. Definitely not a v1 feature but it's good to keep this around - especially as you mention, there are some nice things the CLI gives us that ARM doesn't. HOWEVER we would also lose the idempotent "guarantees" (more or less...) that ARM gives us - u

[2020-07-17 11:03] Dzoukr commented on #283
Good points (from both of you). I am glad the discussion flows. I like the alternative approach, btw...

[2020-07-17 12:59] rjwpope opened #285 "Create a WebApp in an existing ServicePlan"
Hi I've been playing around with trying to create a `webApp` in an existing ASP. The ASP will be shared and configured manually so I don't want the ARM template I generate to modify it or try to deploy it in any way.

Is there a good way to do this? If not, have there been discussions thoughts on how this might be possible and would it be something you would be interested in including? (I may, dep

[2020-07-19 22:11] ctolkien commented on #283
I feel like this could be resolved via making it clearer just via the API? `CLI.zip_deploy` (pseudocode)

[2020-07-20 11:36] forki opened #288 "AccesPolicy.findUsers only works with one mail address"
AccesPolicy.findUsers only works with one mail address.

Workaround: call it in a loop:

![image](https://user-images.githubusercontent.com/57396/87933676-feaa6200-ca8d-11ea-8573-88877521f54f.png)

[2020-07-20 19:01] isaacabraham commented on #285
@rjwpope This is good feedback. Up until now we've treated the Farmer template as a kind of "owner" of the entire topology rather than the ability to "inject" new resources into an existing set of resources.

There is actually a `resourceId` function to build resources in a slightly nicer way than sprintf etc., but something smells wrong with that error, so needs to be looked at.

If the service p

[2020-07-20 19:08] isaacabraham commented on #288
Can't reproduce. Have tested it two valid email addresses and with one valid and one invalid. Both times I get results back.

[2020-07-20 19:10] forki commented on #288
Weird

[2020-07-20 19:12] isaacabraham commented on #288
The query we send to az is basically as follows:

[code]

Can you try create that yourself and testing that out? Maybe you have an older version of az which has a bug in it or something?

[2020-07-20 19:13] isaacabraham commented on #288
I'm testing using 2.7.0

[2020-07-21 00:59] VitorRigoni opened #289 "Unable to create a static site storage account"
Hello! 👋🏻

I'm writing a script to create a storage account with a static website but I don't seem to be able to do that.
I'm not sure what I'm missing, but even the sample provided in the docs is not working for me.

I keep getting: `This control construct may only be used if the computation expression builder defines a 'For' method`.

I'm referencing Farmer v0.22.

This is what my script looks l

[2020-07-21 07:23] rjwpope commented on #285
Thank you for your response. Unfortunately in my case, the app service plan lives in separate resource group and is used for apps from different resource groups. (I used `resourceGroup().id` to simplify the example).

Was I correct in thinking that `ResourceRef.External` was intended for this purpose or is that for resources which are "_external_" in some other way?

Trying the same example above

[2020-07-21 10:33] isaacabraham commented on #289
Apologies. The docs and app are out-of-sync. The *next* release of Farmer will have those keywords. The *current* release is a little different:

[code]

The new version will be released later this week.

[2020-07-21 10:33] #289 closed

[2020-07-21 10:38] isaacabraham commented on #285
Yes, External was meant exactly for this purpose - a resource defined outside of the builder. There shouldn't be an issue with having the dependency on the service plan if it lives in another resource group, as far as I'm aware - we need that dependency in case the service plan is still being defined within Farmer but external to the builder.

Using a simple name will fail unless it is being defin

[2020-07-21 11:02] rjwpope commented on #285
Thanks again. Unfortunately using `link_to_service_plan` results in the same error. Because the ASP doesn't exist in the generated ARM template, I think this will fail as long as the ASP name is in the `dependsOn` array. I was wondering if a new `ResourceRef.PreExisting` union case or similar might solve this? This would be treated the same as External except in the `Dependencies` list where it wo

[2020-07-21 11:12] isaacabraham commented on #285
Mmmm. Looks like you're right - you can't define dependencies on resources that are defined [outside of a template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-syntax):

This suggests that we would need to add OOTB support for linking resources that truly exist outside of the Farmer template. This is something that is a cross-cutting concern i.e. not just about

[2020-07-21 11:51] rjwpope commented on #285
Thanks for this. I may be able to use your workaround.
As a third proper solution, when generating the arm template could Farmer remove any dependencies which are not in the template being generated? This should always be safe as not doing so would lead to an invalid template.
The risk I see with this is that if a resource is declared but is accidentally not included in the deployment it could lea

[2020-07-21 11:58] isaacabraham commented on #285
That's a great idea - will have a think about that!

[2020-07-21 20:19] Aaronontheweb commented on #255
That's exactly right - I just want the AKS cluster in pristine shape. I can arrange the deployments to it from Azure DevOps separately.

The one bit that sucks though - some of the necessary configuration steps for getting AKS to work with ACR (so the K8s cluster can pull private images) might have to be done through `kubectl`, although I know it's also possible to do them through the `az` command

[2020-07-21 21:47] ctolkien commented on #215
Mainly for account/subscription management. For eg. we use ARM deploys at a subscription level to deploy [Azure Lighthouse](https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer).

[2020-07-22 07:23] isaacabraham opened #290 "Incorporate KeyVault into WebApp builder"
In the interest of having a great "default experience" for web apps on Azure, I think we should consider - as we do with App Insights - directly building KeyVault into the webapp builder. When users try to add a secret setting, rather than it still being stored as an app setting, we would implicitly store the key in keyvault. We can also use the ability to reference keyvault secrets directly from

[2020-07-22 11:31] isaacabraham commented on #285
@rjwpope As you thought, it's a bit more work - it'd involve adding new methods to the IArmResource interface which I really want to avoid. I think the best thing to do would be to say that if you pick "External" as any resource, Farmer will never add it as a dependency - it's up to you to do that as you're effectively taking over control of the provisioning; if you want Farmer to set up the depen

[2020-07-22 12:04] rjwpope commented on #285
That sounds like a good solution to me. Am I right in thinking that the `depends_on` keyword could be used to achieve that?

[2020-07-22 12:11] isaacabraham commented on #285
Exactly. So for a "truly" external dependency, you wouldn't call it, but for an service plan that you've created inside farmer "separately", you'd have to do it. What we could do is optimise for both paths based on overloads:

`link_to_service_plan "my-service-plan"` <- optimise for first case, don't add a dependency
`link_to_service_plan myServicePlan` <- optimise for second case, add the depende

[2020-07-22 12:23] rjwpope commented on #285
That sounds brilliant!

[2020-07-22 14:22] rjwpope commented on #215
Would it be possible to achieve this by creating a `resourceGroup` resource builder or is there something I'm missing?
This builder would produce a `Microsoft.Resources/resourceGroups` resource and, if any resources are added to the group, will emit a `Microsoft.Resources/deployments` resource as well containing the child resources.
e.g. the following could produce the example given at https://doc

[2020-07-22 22:18] isaacabraham commented on #285
Hey. I've spent a bit of time playing around with alternatives. I *think* I've settled on this code:

## Existing Code - Links to "farmer controlled" resources
[code]

## New behaviour
[code]

This is an additional set of keywords rather than slotting into the existing ones. I tried that way (as I had suggested previously) but I think it would have been too easy to get it "wrong". This way it's mu

[2020-07-23 07:00] rjwpope commented on #285
This is definitely the clearest option and likely the easiest to document as well. It certainly meets my requirement nicely.
👍

[2020-07-23 13:10] isaacabraham commented on #285
@rjwpope Great. I have a pull request ready to go and have applied the same changes across other "linkable" resources. In the end I indeed redesigned the types so we effectively have four cases:

* Create the resource using a name derived from another resource
* Create the resource using a name supplied by the user
* Link to an farmer-managed resource and set up dependencies
* Link to an existing

[2020-07-23 16:18] isaacabraham commented on #265
@ctolkien if you need a hand with a review etc., just let me know.

[2020-07-24 21:12] #285 closed

[2020-07-27 06:24] pihai opened #295 "Storage account name length restriction"
The name of a storage account gets truncated to a maximum of 16 characters:

https://github.com/CompositionalIT/farmer/blob/3fd022d39d7a7b6c75f5f21dfc8ffaabfb72e0b4/src/Farmer/Builders/Builders.Helpers.fs#L12

However the official limitation is 24 characters: [Source](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftstorage)

Is there any reason

[2020-07-27 10:00] ChendrayanV opened #296 "PowerShell supports in Functions Runtime."
**Request: Add PowerShell support in Functions Runtime.**

![image](https://user-images.githubusercontent.com/13730675/88529743-0b92fc80-d01e-11ea-9d15-98374669439c.png)

[2020-07-27 21:30] isaacabraham commented on #295
@pihai because often storage account names are postfixed in Farmer with the name of the parent builder e.g. a functions host called "foobar" may have a storage account called "bananasfoobar".

To be honest I think we may change this from silently renaming storage accounts to simply failing fast if the account doesn't conform to the storage account naming rules.

[2020-07-27 21:30] isaacabraham commented on #296
@ChendrayanV can you provide the details / example of the naming of the Powershell runtime on ARM templates?

[2020-07-28 04:43] pihai commented on #295
For me failing fast instead of silently renaming sounds like a better approach.

However, my use case was to add a file share to an already existing storage account created by hand. Unfortunately the name is longer than 16 characters. Instead of the existing storage account with an additional file share I ended up with a new storage account.

 As I understand it, I won't be able to do that?

[2020-07-29 07:51] rjwpope commented on #285
@isaacabraham, Thanks for getting this sorted so quickly. I was wondering when you were thinking of releasing this? if you're holding off for a bigger release in future, I can work from source but if you're going to release this soon I'd rather wait for the release.

Thanks.

[2020-08-02 15:47] isaacabraham commented on #295
We should just remove the 16 character restriction on file names. Ideally you should be able to create a storage account in Farmer which has the same name as an existing Storage Account resource and go from there.

[2020-08-03 23:45] tdwhite0 opened #298 "Support for adding resource tags"
Unless I'm mistaken it doesn't look like there is a way right now to add resource tags to the generated template like shown here:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-add-tags?tabs=azure-powershell

This would be a nice feature to have, I'm thinking about building it myself. Does anyone have any ideas on the best way to implement?

[2020-08-06 10:55] TheRSP commented on #298
My company also need support for tags. I was wondering if adding `tag`/`tags` keywords to each of the builders would be sufficient:
[code]

[2020-08-06 11:22] isaacabraham commented on #298
Yes, that seems reasonable. Only question is that the builder would need to decide which resources were given the tags - I suppose for some builders this would be different.

[2020-08-06 12:13] TheRSP commented on #298
Yes, I had assumed in the above example that the tags would apply to the "main" resource (the website) but we actually have three options:
1. apply to the main resource
2. apply to all resources
3. have some way of specifying to which resources to apply the tags
  a. by using different keywords (`site_tags key value`, `server_farm_tags key value`)
  b. by using an argument (`tag Arm.Web.serverFarm

[2020-08-08 13:25] isaacabraham commented on #288
@forki can you confirm this is still occurring? Otherwise I can close this.

[2020-08-08 13:26] isaacabraham commented on #296
@ChendrayanV If you're able to supply the details of the Powershell runtime on ARM, we can add this.

[2020-08-08 14:08] tehmufifnman commented on #298
Additionally many resources aren't compatible with the tags field, so some way of representing that will be necessary.

[2020-08-08 15:38] isaacabraham commented on #298
@tehmufifnman Really? I thought it was some generic thing. In that case, perhaps doing this on an ad-hoc, as-needed basis is indeed the way to go.

[2020-08-08 15:47] tehmufifnman commented on #298
@isaacabraham Yup - I am sorta fell into the role of ARM template whisperer around my office LOL

Off the top of my head the one example that comes to mind is a Service Bus Queue/Topic Subscription.
https://docs.microsoft.com/en-us/azure/templates/microsoft.servicebus/namespaces/topics/subscriptions
(notice the lack of "tags")

If you try to add a tags field and deploy you get a validation error.

[2020-08-08 15:54] isaacabraham commented on #298
So still a large number of resources to support. I'd say for now let's go with the builder approach - each builder will have to determine how it assigns tags to child resources e.g. for web app / functions, do the tags go on the service plan or the app service, or both etc. etc.

[2020-08-08 17:03] isaacabraham commented on #295
@pihai This is ready to go now (see the associated PR). In the meantime, you can work around this by constructing the `StorageAccountConfig` record type directly:

[code]

This can be added as a resource to the `arm { }` item as normal.

[2020-08-09 08:12] forki commented on #288
It's still happening. But I have a workaro, so feel free to close. Thx

Isaac Abraham <notifications@github.com> schrieb am Sa., 8. Aug. 2020,
15:25:

[2020-08-10 04:32] pihai commented on #295
thats great, thank you

[2020-08-10 07:58] #295 closed

[2020-08-11 01:57] VitorRigoni opened #305 "The template reference 'myAppInsights' is not valid"
Hello! 👋🏻

I'm going through some trouble trying to deploy an Azure Function and was hoping you'd have any insights.
My issue is actually related to the `link_to_service_plan` and `link_to_app_insights` settings. Turns out I'm trying to link to a service plan and an app insights instance that are located in different resource groups, and I keep getting this error:
`Deployment template validation f

[2020-08-11 09:11] isaacabraham commented on #305
Hey. We've just done something similar for this with app service - people trying to create websites that piggy back on app services in other resource groups. The initial idea of Farmer was for it to own all resources - this kept things simple - but now we have the support inside Farmer to add these "really" external resources it shouldn't be too hard to add support for AI.

Longer term we should l

[2020-08-11 09:11] isaacabraham commented on #305
I don't actually think that you need the external resource group name, just the resource (although I might be wrong here).

[2020-08-11 09:12] isaacabraham commented on #285
@TheRSP Apologies, just saw this. I'll push out a release today.

[2020-08-11 09:13] isaacabraham commented on #305
Linked to #285

[2020-08-11 11:30] pihai commented on #290
Hi

I tried to get the following working in Farmer:

* Create a WebApp with a managed identity
* Create a KeyVault
  * Add a secret to the vault
  * Add an access policy to the vault for the web app
* Add a key vault reference app setting to the web app

Currently this results in a circular dependency because:
* The vault depends on the manged identity of the web app
* The web app depends on the s

[2020-08-11 12:15] isaacabraham commented on #290
My initial thoughts were to make this even more opaque e.g.
[code]

Regarding the standalone app setting - yes, I read that recently too. We've already started moving all nested resources into top-level resources and this would be another one we could / should do.

So currently you can't easily use the settings approach for app service with keyvault - you could do it in your sample by making the m

[2020-08-11 13:45] pihai commented on #290
Ok thanks. I think I begin to understand.

The same nested vs. top level resource debate may apply to key vault access policies and secets as well. Currently a key vault deplyoment always overwrites the whole vault. It is not possible to incrementally add only a single secret or access policy. With top level resources this would be possible: https://docs.microsoft.com/en-us/azure/templates/microso

[2020-08-11 16:59] VitorRigoni commented on #305
Fantastic!

I got some of your code on the linked issue and I got it working for the app service plan! For app insights I worked around by manually setting my app insights instance guid as a setting for the function - this works for us since we have a single static instance of AI for each env.

This is what I got:

[code]

Thank you so much! 😁

[2020-08-11 22:20] ctolkien commented on #290
Some more nuance to throw into the mix:

* KeyVault must be created from inside the appropriate tenant to work correctly - Delegated Resource Management / Azure Lighthouse has issues here (whilst it's fine for creating webapps themselves). So I have to split these up regardless.
* I really like the managed identity bits outlined above.

[2020-08-12 15:35] isaacabraham commented on #305
Good news - I totally forgot but this is actually already fixed in master and will be released this evening, so you will be able to simply do this in future:

[code]

I think that this will give you the flexibility that you're looking for. Going forward, I think we'll look to expose (in an easier way) the internal abstraction that we use to understand how resources refer to one another (trimmed do

[2020-08-12 15:44] isaacabraham opened #306 "Automate Nuget deployment"
Something that is slowing down iterating on the project in terms of more rapid release is that the push to Nuget is not automated.

The build, test and package is, but it's still a manual process for me to log in to release to NuGet. What's the best way to - ideally as a manual button click - we could do for this?

[2020-08-12 15:45] VitorRigoni commented on #305
That's perfect!

I actually went through the discussion and saw the references to `link_to_unmanaged_service_plan` already merged to master, but there was no new release yet so I was just anxiously waiting for the new version to be able to use that 😁
And meanwhile I can work around with that other way that works fine for me (even though it's pushing the farmer api limits a little bit 😅)

[2020-08-12 15:52] isaacabraham commented on #305
Now pushed to NuGet :-)

[2020-08-12 15:52] #305 closed

[2020-08-14 11:26] pihai opened #308 "Add dependencies to Key Vault"
Currently we cannot set dependencies for a key vault. This is needed if you want to create an access policy for the managed identity of a web app. In this scenario the web app has to be created first.

Example:

[code]

[2020-08-15 16:16] isaacabraham commented on #308
Closed by #309

[2020-08-15 16:16] #308 closed

[2020-08-15 16:42] 76mel opened #310 "Connection String Support"
Cannot see and connection string support in Farmer, is there a way to do it with settings?

[2020-08-16 15:54] onionhammer opened #311 "Additional storage account properties"
It would be great to have some more common attributes on storage accounts, such as, 'tier', 'kind', and 'properties'. ~~Also Management polices for blob lifecycle management would be great~~ (moved to #312)

[code]

[2020-08-16 18:49] isaacabraham commented on #311
Hey @onionhammer could you provide some more info on each of them - what purpose does each one serve e.g. what's the relationship between SKU and Tier - do we need both?

Regarding lifecycle management - we could model this very nicely in F#. I would create a separate issue for that though.

[2020-08-16 19:43] onionhammer commented on #311
@isaacabraham all documented here; https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/storageaccounts

I *think* tier is required in order to create a premium blockblobstorage account.

Technically '**kind**' is documented as 'required':
"Required. Indicates the type of storage account. - Storage, StorageV2, BlobStorage, FileStorage, BlockBlobStorage"

[2020-08-16 19:46] onionhammer opened #312 "Add lifecycle management support for storage account"
Splitting from #311 for separate tracking;

Blob lifecycle management allows you to automatically move/archive/delete blobs

Schema documented here:
https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/storageaccounts/managementpolicies

More info here:
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal

[2020-08-16 23:02] isaacabraham commented on #311
`Kind` is [already set](https://github.com/CompositionalIT/farmer/blob/master/src/Farmer/Arm/Storage.fs#L36) as StorageV2. Are there specific use cases for expanding this to support the other kinds? My understanding is that StorageV2 is "the future" and should provide the same functionality as all of the others.

[2020-08-16 23:03] isaacabraham commented on #311
Let me know which specific properties you think need adding - our approach for Farmer thus far has been to adopt an 80/20 approach, and when there are specific requirements to add more surface area, to do it.

[2020-08-16 23:13] onionhammer commented on #311
@isaacabraham storagev2 is standard performance tier, 'BlockBlobStorage' is premium blob storage, which means higher performance than standard.

see this:
https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview#performance-tiers

[2020-08-16 23:55] tehmufifnman commented on #311
@onionhammer That isn't entirely accurate.  If you look at your link, Storagev2 can be Standard OR Premium (Check the Supported Performance Tiers column).  Storagev2 is the option most people will used in the vast majority of circumstances unless you need the more specialized features of something like BlockBlobStorage.  Storagev2 can be any type of storage account (Blob, File, Queue, etc...). Sto

[2020-08-17 22:10] VitorRigoni opened #314 "Wrong family for PostgreSQL"
Hello! 👋🏻

It's me again 😅
I have a fun little problem this time: I setup an azure pipeline to deploy my infrastructure alongside my application.
To get this to work the way I want, I created an fsx script importing farmer. My pipeline restores the packages, runs the fsx (which in turn generates the ARM template) and deploys the arm template using the `AzureResourceManagerTemplateDeployment@3` tas

[2020-08-18 08:16] Skovvart opened #315 "Examples for implementation of unsupported ARM resources"
https://compositionalit.github.io/farmer/faq/#can-i-add-resources-that-are-not-supported-by-farmer states that unsupported resources can be implemented in a variety of ways (.NET object adapters, embedding ARM JSON directly), but I have been unable to find any examples anywhere in the documentation of how to implement either.
Perhaps it is super simple, but as someone new to Farmer, this seems lik

[2020-08-18 13:45] isaacabraham commented on #315
Hi @Skovvart. Have a look at the [Contributing](https://compositionalit.github.io/farmer/contributing/adding-resources/) section of the docs - this has a step-by-step guide on building up resources from raw JSON all the way through to a full Builder. It's written in a guide / recipe style - perhaps we should also create a more reference docs style section.

[2020-08-18 13:46] isaacabraham commented on #315
Let me know if that section is enough for you or if you need anything more.

[2020-08-18 15:08] isaacabraham commented on #314
I *think* that this is due to a [breaking change](https://github.com/dotnet/fsharp/issues/9357) that was introduced in the latest F# - previously, this would return just the value, but now is the fully-qualified item. We need to fix this.

cc: @cartermp - what's the plan for that issue - is it going to be reverted?

[2020-08-18 15:10] isaacabraham commented on #310
Currently, you can just only use Settings - there's really not much difference between the two as far as I'm aware. We could expose Connection Strings if needed as well.

[2020-08-18 16:34] VitorRigoni commented on #314
Oh wow, that's crazy!

I can submit a PR for this, if you'd like. Do you have an idea how you wanna do this?

[2020-08-18 16:50] cartermp commented on #314
No, there are no plans to change this.

[2020-08-18 18:46] 76mel commented on #310
Yep I think it would be nice, it quite commonly used in apps we see rather than plain settings.

[2020-08-19 11:21] fraxu opened #317 "Redis generates wrong properties.sku.name value"
Hi,
Redis cache resource is currently broken:

`let redis = redis {
    name "test"
    sku Basic
}`

Generates following invalid json

`...

"sku": {
          "capacity": 1,
          "family": "C",
          "name": "{ Capacity = 1\n  Sku = Basic }"
}
...`

In cache.fs we should have

 vs current

I can create PR for this if needed.

[2020-08-19 12:14] isaacabraham commented on #317
Please do. I can push out a release once it's in.

[2020-08-19 13:27] #317 closed

[2020-08-19 13:28] #314 closed

[2020-08-20 05:18] fraxu commented on #198
I'm currently using the following quick hack to get slots working.

[code]

For basic slots support I guess we would need at least:
* Custom operator in WebApp builder to make adding slots easy
* autoSwapSlotName to Site Arm as well
* Slot builder?
* Documentation

I'm happy to help with this if needed!

[2020-08-20 09:39] isaacabraham commented on #198
This is awesome :-) Great to see the extensibility API working for you.

To be honest, in terms of the user-facing API I think just a custom operator would be enough - do we really need an extra builder on top as well e.g.

[code]

Behind the scenes, the web app builder would create the appropriate slots as required (of course, the IArmResource that you've constructed would need to be added in as

[2020-08-23 19:41] pviotti opened #319 "custom_script_files option doesn't seem to work"
Hi there - I was trying to upload a script file to my vm using the `custom_script_files` option as follows:

[code]

but the script file URI doesn't make it to the ARM template file.
Does it work only with Windows VMs..? Am I missing something?

(Thanks for Farmer btw, it's a pretty handy project!)

[2020-08-24 21:47] isaacabraham commented on #319
@pviotti You have to set the *name* of the custom script:

[code]

Basically, this becomes the name of the script resource in the ARM template. Without it, we ignore the script files.

The fact that you've fallen for this suggests that the API isn't obvious to figure out. We could do one of several things:

1. Throw an error if you provide files without a name (or vice versa). This would have prob

[2020-08-24 21:49] isaacabraham commented on #319
P.S. It should work for both Linux and Windows.

[2020-08-24 21:57] isaacabraham commented on #319
@pviotti ignore what I said before. It was nonsense and I've deleted the comment. I've just had another look through the source code and now remember how this works in Azure.

* The custom script files are simply what files to copy up onto the VM.
* You still have to supply a script that is *executed* on the VM, which may use those files.

The way we do that in Farmer is through the `custom_script

[2020-08-24 22:07] pviotti commented on #319
ok, thanks for the explanation! I'll try again.

makes sense. (I also got confused because if you search for "script to run upon deployment on Azure vm", you find [this page](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux#property-script) that talks about an inline script that has to be supplied base64 encoded...)

sounds good. I'd also suggest to expand a b

[2020-08-24 22:12] isaacabraham commented on #319
A PR would be gratefully accepted :-)

[2020-08-24 22:14] isaacabraham commented on #319
If you're happy with this error message i.e. it would have explained to you what to do, I'll merge it in. https://github.com/CompositionalIT/farmer/pull/321/files#diff-d1f245ce5e20f91fe6c13181aac49db3R126

[2020-08-25 07:16] Skovvart commented on #315
Hi @isaacabraham, the updated docs and examples seem to be what I was looking for, at least. Thanks for the update.

[2020-08-25 07:16] #315 closed

[2020-08-25 12:13] #319 closed

[2020-08-25 20:45] pviotti commented on #319
the error message looks good, and the custom script works, thank you. Here's the PR for the docs improvement: https://github.com/CompositionalIT/farmer/pull/322

[2020-08-26 22:49] #216 closed

[2020-08-26 22:50] isaacabraham commented on #197
@hravnx this is probably the last thing for v1. Do you think you'll have an opportunity to do this this week? If not I can have a crack.

[2020-08-26 23:06] hravnx commented on #197
Oh, sorry, I was not aware that this was holding the v1 up - sorry about that. I've been very, very busy, and it's been summer, bla bla excuses, excuses :-)

I'll look at it tomorrow evening.

[2020-08-26 23:08] isaacabraham commented on #197
Hey :-) It's not holding it up - we can always push this back to a later release. But I'd love to get it in. If you don't have time, don't worry, I'll do it.

[2020-08-26 23:12] hravnx commented on #197
No, it's fine, I have a bit of time this week, I'll do it tomorrow.

[2020-08-27 06:12] forki opened #323 "disable_kafka doesn't work for EventHubs"
I tried to use `disable_kafka` but it doesn't set this to the EventHubs namespace.

[2020-08-27 20:09] Aaronontheweb commented on #255
@ninjarobot sorry for the delay - I'm taking a look at it now

[2020-08-30 14:05] isaacabraham commented on #323
How do you mean, "it doesn't set this to the eventhubs namespace"? The JSON seems to be correctly emitted:

[code]

and

[code]

[2020-08-30 14:06] isaacabraham commented on #323
See the official docs here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.eventhub.models.ehnamespace.kafkaenabled?view=azure-dotnet

[2020-08-30 14:07] isaacabraham commented on #323
@forki Looking at some other docs (https://docs.microsoft.com/en-us/azure/templates/microsoft.eventhub/namespaces) and SO posts (https://stackoverflow.com/questions/51539199/azure-event-hub-enable-kafka-in-arm-template) I *think* the issue might be that the value may need to be set as a string, not a "raw" boolean!

I'll test this out.

[2020-08-30 14:38] isaacabraham commented on #323
@forki I'm stuck. I don't know what needs to be set to disable Kafka - I've tried all combinations of false, "false", "False" on 2017 and a secret 2018 preview API. Nothing works.

[2020-08-30 16:23] isaacabraham commented on #298
I believe this can be closed now. @TheRSP thanks for the work on this one.

[2020-08-30 16:23] #298 closed

[2020-08-30 16:25] isaacabraham commented on #255
Apologies for the delay here - I'm prepping for the v1 release currently; this will drop in the next day or two. Once that's out, I'll look at this whilst building a roadmap for the future of Farmer. Thanks!

[2020-08-30 16:25] isaacabraham commented on #288
@forki I'd like to get to the bottom of this. Can you confirm that the query above that I provided doesn't work for you?

[2020-09-02 17:55] Mohammd19 opened #326 "Support for Log Analytics In Farmer"
I'm curious if anyone working on adding Log Analytics to Farmer, if not I'm more than happy to do it :)

[2020-09-02 21:17] giulioungaretti opened #327 "Null parameters ?"
How would it be possible to emulate a template parameter that is actually null and should be null ?

I am referring to the case of a webapp x container where to not specifiy a password and let the service use it's sp to access the acr the "azure portal" way of generating a working template/paramter is

[code]

I tried with
let acrPwdParam = (sprintf "docker-password-for-%s" acrName, null )

but it

[2020-09-02 21:19] BrianVallelunga opened #328 "CosmosDb causes JSON serialization error"
I'm getting an error when adding a Cosmos DB and trying to generate an ARM template. The error is:

This code will reproduce the issue:

[code]

[2020-09-02 21:55] isaacabraham commented on #328
Good spot - have added a unit test for this (we should probably add a basic serialization test for all builders) and fixed. Will go out with RC2.

[2020-09-02 21:56] isaacabraham commented on #327
Hmmm. Can you send some docs on how this should work - or a valid ARM template that shows this working? It sounds like what you're saying is you'd like to turn off the username / password check completely and use SP auth instance - is that correct?

[2020-09-02 22:00] #328 closed

[2020-09-02 22:04] #306 closed

[2020-09-02 22:21] isaacabraham commented on #311
@onionhammer if only that were true :-) A lot of what we do is to remodel the ARM template into F# to take advantage of things like union types - the ARM spec is generally not accurate and often not correct. In fact, probably 75% of the work in creating a new resource goes into that.

We support v2 by default, I see no reason to change that, but certainly we can add the access tier and supports ht

[2020-09-02 22:22] #197 closed

[2020-09-02 22:26] isaacabraham commented on #310
@76mel out of interest, what's the real benefit we gain from using connection strings rather than plain settings?

[2020-09-02 22:29] isaacabraham commented on #328
@BrianVallelunga released in rc2 just now.

[2020-09-02 22:33] giulioungaretti commented on #327
@isaacabraham ! To be honest, I guess yes that's what I am asking! From the template that works it seems like that at least.
But with more investigation az cli also reject the Null paramter, but the following does work.

Template.json
[code]

and parameters.json
[code]

[2020-09-02 22:40] BrianVallelunga commented on #328
I just verified this works now, thanks!

[2020-09-02 23:15] BrianVallelunga opened #330 "User-assigned managed identities?"
I don't see this supported yet, but I'm wondering what it would take to support user-assigned managed identities on a web app. Right now there's a single enable_managed_identity option. Is it limiting to have that be a simple "enable" toggle? Or perhaps it could be expanded in the future to include a parameter of a ManagedIdentity list of some sort.

Now that I have time and a project to use with

[2020-09-02 23:37] isaacabraham commented on #330
@BrianVallelunga the managed identity was a basic implementation - as you say, you may want to add more than just the system identity. I'm not sure how it works in ARM to be honest - I only did enough to get it up and running for standard KeyVault use cases.

When wouldn't the standard system identity be enough?

[2020-09-02 23:44] isaacabraham commented on #312
@onionhammer how does this look:

![image](https://user-images.githubusercontent.com/1781813/92048041-fdf03580-ed86-11ea-87d5-e738e5683321.png)

[2020-09-03 00:38] BrianVallelunga commented on #330
I'm starting to move our system to managed identities and the problem with system identities is that when you have a number of app/sites and they each need access to a bunch of resources you end up with a huge cross product of access policies that need to be created. So if we have 10 function apps that each need access to a common Service Bus, Key Vault, and Database that ends up being 30 access p

[2020-09-03 02:56] onionhammer commented on #312
Very fsharpy, cool

[2020-09-03 12:57] BrianVallelunga opened #332 "Functions link_to_service_plan confusion/bug?"
Using the `webApp` builder I can call `link_to_service_plan` and pass in my `ServicePlanConfig` object, but for the `functions` builder, there's only a single option to pass in a name, which seems to be of type `ExternalKind`.

I have three questions:
1. Does the functions version have a bug?
2. If it doesn't, what exactly do I reference if I already have a ServicePlanConfig.
3. Can the functions

[2020-09-03 14:49] BrianVallelunga commented on #311
I've been playing with Farmer for a day now and just came to see if I could create a V1 storage account. While V2 might be the future, there's a huge cost savings for V1 if you're using it as the backing for a Functions app that has millions of invocations per day.

I was doing some reorganizing of our resources a few months back and created a separate storage account just for Function/Webjob stor

[2020-09-03 15:20] isaacabraham commented on #311
@BrianVallelunga that's great feedback - so we should definitely add that then.

[2020-09-03 15:20] isaacabraham commented on #311
@BrianVallelunga looking on the pricing page - https://azure.microsoft.com/en-us/pricing/details/storage/blobs/ - I can't even see the v1 pricing :-) Where is it?

[2020-09-03 20:15] BrianVallelunga commented on #311
You have to click "Other" in the pricing offers, but here's a screenshot:

![image](https://user-images.githubusercontent.com/351190/92162766-b0b0aa00-ee00-11ea-8954-9427944b68f4.png)

[2020-09-03 22:14] isaacabraham commented on #312
@onionhammer is it readable / logical for you though? :-)

[2020-09-03 23:38] onionhammer commented on #312
Yep, looks great

[2020-09-04 01:24] JordanMarr opened #333 "CosmosDB - add support for new "serverless" option"
I may do this one...

[2020-09-04 15:28] BrianVallelunga commented on #333
I was looking for this as well. It seems like the only difference is in the "capabilities" section of the template, and that several other options would then become not applicable.

[2020-09-05 17:50] isaacabraham commented on #332
Yes, WebApps and Functions are different enough that we created two separate builders, so there are some differences. Adding this in is appreciated - thank you for doing ti.

[2020-09-05 17:54] #332 closed

[2020-09-05 18:46] isaacabraham commented on #312
@onionhammer could you check out the branch and try it out?

[2020-09-05 18:50] isaacabraham commented on #333
It's still in preview, but if there's some docs for this, it sounds like a good one to do.

[2020-09-05 18:52] isaacabraham commented on #255
Merged in now.

[2020-09-05 19:10] isaacabraham commented on #311
How about this:

1. We expose the full Storage Kind in the "low level" ARM Storage type:

[code]

2. The storage builder will set this to StorageV2.
3. Functions and VMs (which can create storage accounts automatically if needed) will be set to StorageV1.
4. If you need to create a Storage resource outside of the builder, you can do that using the low-level ARM type e.g.:

[code]

These can be pas

[2020-09-05 22:16] onionhammer commented on #312
@isaacabraham Cloned it and tested your sample script; works perfectly fine

[2020-09-06 17:23] JordanMarr commented on #333
Here are the major differences I see in the three resource types:

- Microsoft.DocumentDB/databaseAccounts
  - apiVersion: changes from "2020-03-01" to "2020-06-01-preview"
  - properties:consistencyPolicy:defaultConsistencyLevel changes from "Eventual" to "Session"
  - quite a few other properties are included, but i'm not sure if these are required or defaulted.
- Microsoft.DocumentDB/databaseAc

[2020-09-06 17:25] JordanMarr commented on #333
I just noticed that my `add_unique_key` change is not in the Cosmos DB documentation for some reason. :(

[2020-09-06 18:27] JordanMarr opened #336 "Fantomas config"
It would be nice if there was a Fantomas config file checked-in the repository to keep formatting consistent.
(I haven't done this, but I've read that it is possible).

[2020-09-06 18:38] JordanMarr opened #337 "CosmosDBContainerBuilder should have a "Throughput option" field"
Currently Farmer only supports the "shared throughput" model where a fixed throughput is shared between all containers and is set at the CosmosDbBuilder level.

But for higher volume scenarios, this should be set instead at the CosmosDbContainerBuilder level (per container instead of shared).  The containers currently do not have this option.

Also, the CosmosDbBuilder DbThroughput property should

[2020-09-06 19:19] JordanMarr commented on #333
As I work through implementing this, I have started down the path of simply adding a `serverless` operation.
However, it is only valid to configure the `cosmosDb` with _either_ a specified `throughput` _or_ `serverless` mode, which doesn't use throughput at all.

So the way I'm doing it now is good because adding a new field is not a breaking change, and (FWIW) it aligns closely with the json temp

[2020-09-07 18:37] JordanMarr commented on #333
I did some more reading and found out this useful tidbit (that I completely missed on my first read) from the [Cosmos DB serverless docs](https://docs.microsoft.com/en-us/azure/cosmos-db/serverless):

**"During the preview release, the only supported way to create a new serverless account is by using the Azure portal."**

So it looks like we'll have to keep this change on ice until the serverless

[2020-09-08 12:15] #312 closed

[2020-09-08 12:48] isaacabraham commented on #333
Doh :-) Thank you for doing this - let's add it once serverless is available :-)

[2020-09-08 12:49] isaacabraham commented on #336
Hmmm, good idea. We have an editorconfig file (I think) but we can certainly experiment with this. The last time I tried Fantomas I still had some concerns but I'm happy to give it another go.

[2020-09-08 12:55] isaacabraham opened #338 "Better Resource Name Validation"
This is about putting in place a set of consistent practices and behaviours for validation of resource names. Currently there are just ResourceNames, but no typing to prevent accidentally copying e.g. a StorageAccountName to a WebAppName, and no coherent pattern for validation.

There is a small example of how we could do this through types, using a single case DU per resource name, as with Storag

[2020-09-08 13:03] 76mel commented on #310
None that I can think of, I think it more legacy web.config support.

[2020-09-08 20:53] MNie opened #340 "Transparent Data Encryption invalid name error"
When using a SQL builder to construct a server with a database and with enabled encryption like that:

[code]

I got following error in Azure Devops:

[code]

I assume that since generated part of ARM template looks like this:

[code]

The name for a Transparent Data Encryption should has a single segment, so instead of `dbtest/current` it should be `current`, am I right?

If yes, [here](https://g

[2020-09-08 21:22] isaacabraham commented on #340
Great spot!

I think the issue is that the name needs to actually also contain the *server name* as well as the database name e.g. `server/database/current`. I've done a basic test and that seems to work - if you can supply a PR for this I will happily accept it.

[2020-09-08 21:23] isaacabraham commented on #326
@Mohammd19 that would be very welcome :-)

[2020-09-08 21:26] isaacabraham commented on #327
@giulioungaretti can you send the parameters as well?

I'm not sure how you're doing the auth without a user / pass? Or is this something you've already done in the background?

[2020-09-08 21:27] isaacabraham opened #341 ""Inner" error reporting"
Sometimes the Azure CLI / ARM API returns errors in the "inner" exception. We should be able to surface these to the caller.

[2020-09-08 21:32] isaacabraham commented on #326
Closing as duplicate of #262.

[2020-09-08 21:32] #326 closed

[2020-09-08 21:33] isaacabraham commented on #262
@Mohammd19 this is the same issue as the one you created - feel free to have a go at it!

[2020-09-09 04:59] MNie commented on #340
@isaacabraham sure, pr created : )

[2020-09-09 08:51] giulioungaretti commented on #327
@isaacabraham, you mean the parameters in the farmer call?  if you mean the json it's pasted above!

[2020-09-09 20:21] #340 closed

[2020-09-09 20:23] isaacabraham opened #343 "Return name of missing parameters"
If you don't include a missing parameter, we simply throw a message saying (effectively) that "something" was missing. But not the name.

[2020-09-09 20:24] isaacabraham opened #344 "Can't use Writer for templates that require parameters"
Not sure how this has never cropped up yet, but you cannot use the Writer on templates that take in parameters.

[2020-09-09 20:26] #344 closed

[2020-09-09 20:26] #343 closed

[2020-09-09 20:27] isaacabraham opened #345 ""You must specify an admin_username" does not say enough"
If you create a SQL Server and don't specify the admin username, we (correctly) fail. But we should also supply more information e.g.

"You must specify the admin_username for SQL Server instance 'xxxx'."

[2020-09-09 20:32] MNie opened #346 "isHnsEnabled couldn't be updated as it is read-only."
After update from 0.19.0 to 1.0.0 I encounter a problem with `isHnsEnabled` on a resource that was created with previous version of a Farmer (I use `create or update resource group` option in ARM Deployment in Azure DevOps).

[code]

Error information:

[code]

I see that this field along with properties for Storage were introduced [here](https://github.com/CompositionalIT/farmer/commit/e18b86af28

[2020-09-09 20:48] isaacabraham opened #348 "Emit fully-qualified resources in template"
Doing this will make what-if analyses much better.

[2020-09-09 20:51] isaacabraham commented on #346
If I understand correctly, what you're saying is that beforehand, we did not emit the `isHnsEnabled` property but now we do, and even though you never set it before, explicitly setting it as false makes ARM reject the template.

We could make this field optional, and I have no problem pushing this out for either 1.1 or as a patch release. However, we need to be sure that this won't break anyone *s

[2020-09-09 21:03] #255 closed

[2020-09-09 21:04] isaacabraham commented on #265
@ctolkien are you happy to do this still?

[2020-09-09 21:11] isaacabraham commented on #330
@BrianVallelunga would you expect to see here the ability to assign an existing managed identity that you've already made? e.g.

[code]

where 123123123 is the principal id of the identity that you've created?

[2020-09-09 21:12] #345 closed

[2020-09-09 21:13] isaacabraham commented on #348
Related to https://github.com/Azure/arm-template-whatif/issues/123

[2020-09-09 21:14] ctolkien commented on #265
I tried and failed, need a better grasp of F#. Will have to pass on finishing this myself.

[2020-09-09 21:55] raymens commented on #270
I can take a look at this if no one else is.

[2020-09-10 04:20] MNie commented on #346
Correct.

Good point, gonna check that and give an update here : )

[2020-09-10 13:20] MNie commented on #346
@isaacabraham I created AzureStorage with `isHnsEnabled` set to false and then "update" without `isHnsEnabled` and everything seems to be working just fine.

[2020-09-10 15:47] #346 closed

[2020-09-10 15:48] isaacabraham opened #351 "depends_on should support lists"
This will better support parameterisation.

[2020-09-10 17:08] isaacabraham opened #352 "Removing explicit "displayName" tag on AppInsights"
There's no reason for this to be in there.

[2020-09-10 19:06] BrianVallelunga commented on #330
Yes, but it should be an array of identities. The ARM code it generates actually creates key/value objects per identity and sets the type to "UserAssigned". Here's a sample with one identity:

[code]

[2020-09-10 23:09] isaacabraham opened #353 "Support for deploying webjobs on app service"

[2020-09-10 23:34] #353 closed

[2020-09-12 00:32] JordanMarr opened #354 "CosmosDB should support basic firewall settings"
Examples [here](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-firewall).
I think I may tack this onto the serverless changes.

[2020-09-12 10:58] MNie opened #355 "Azure function from docker container"
Is there a way to configure [AzureFunction from a docker container](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp)?

CC: @isaacabraham

[2020-09-12 11:07] raymens opened #357 "AWS CloudFormation support"
I was wondering what your opinion is about adding AWS CloudFormation support.
I have used ARM before but am not that familiar with the templates for CloudFormation, but a quick peek seems to indicate they are roughly similar. Main difference as far as I can see based upon this sample is the split between defining resources and instances.

So I'm mostly wondering if this is a possibility in the fut

[2020-09-13 13:20] #352 closed

[2020-09-13 13:30] isaacabraham commented on #357
My understanding is that on the AWS side you have [CDK](https://docs.aws.amazon.com/cdk/latest/guide/home.html) for this.

The aim of Farmer is primarily about providing a first-class developer experience for Azure resources, sitting on top of ARM. Theoretically we could emit to whatever we wanted, but I fear that doing this would mean targeting a lowest-common denominator for the abstractions to

[2020-09-13 13:32] isaacabraham commented on #355
Didn't even know that this was possible :-) Can you deploy this with ARM templates? If not, we could still push this out via the CLI but preference should be ARM wherever possible.

[2020-09-13 13:36] raymens commented on #357
Alright that makes sense to me, thanks!

[2020-09-14 10:57] isaacabraham opened #359 "Support for SQL Azure VCore and Serverless"
Currently we only support DTU model. We should also support VCore and Serverless options.

[2020-09-14 23:14] #310 closed

[2020-09-15 15:02] tdwhite0 opened #362 "Add imageRegistryCredentials to containerGroup builder"
I'd like to be able to use a custom image registry when deploying a Container Group:
https://docs.microsoft.com/en-us/azure/templates/microsoft.containerinstance/containergroups

    "imageRegistryCredentials": [
      {
        "server": "string",
        "username": "string",
        "password": "string"
      }
    ],

[2020-09-15 19:42] raymens commented on #359
Based upon some template generation I found the following things:

Some additional SKUs need to be added:
- vCore model
 - Tier `GeneralPurpose`
  - `GP_Gen5_x` where `x` is the vCore count between 2 and 80
  - `GP_Fsv2_x` where `x` is the vCore count between 8 and 72
 - Tier `BusinessCritical`
  - `BC_Gen5_x` where `x` is the vCore count between 2 and 80
 - Tier `Hyperscale`
  - `HS_Gen5_x` where

[2020-09-16 01:47] isaacabraham commented on #359
@raymens I had a bash at this - please feel free to review the PR and let me know your thoughts.

[2020-09-16 17:38] #359 closed

[2020-09-16 17:41] #351 closed

[2020-09-16 17:44] isaacabraham commented on #323
Hey @alex-frankel . Any ideas on who I can reach out to on this one? I've tried every combination I can think of but nothing works. We may as well remove the flag if it's doing nothing :-)

[2020-09-16 17:45] isaacabraham commented on #348
I think at most we should supply the resource type.

[2020-09-16 17:46] isaacabraham commented on #357
Closing (housekeeping) - if you fancy taking this up as a separate project, let me know - happy to help!

[2020-09-16 17:46] #357 closed

[2020-09-16 22:46] isaacabraham commented on #223
No longer needed.

[2020-09-16 22:46] #223 closed

[2020-09-16 22:47] isaacabraham commented on #218
Moved to 1.1

[2020-09-16 22:47] #218 closed

[2020-09-17 08:12] tforkmann opened #365 "Receive storage account key with exisiting ressources"
Hey there,

with the latest Farmer version I cannot receive the storage account key if the ressource already exisits.

I try to receive the storage account key like this:

[code]

I get following error message:

``
Unhandled exception. System.Exception: Error creating infrastructure for dpoctobusprod , exn : "{'additionalProperties': {}, 'code': 'InvalidTemplateDeployment', 'message': "The templat

[2020-09-17 12:34] isaacabraham commented on #365
Yes. In this case, you won't want to create a storage account in the account but rather add an output that refers to that existing resource. The code below will do what you need - this is actually already part of the Farmer codebase but not exposed publicly, but in the future we could do that easily enough.

[code]

[2020-09-17 18:10] alex-frankel commented on #323
Just started a thread with the eventhub team and included you on it Issaac. Hopefully we can get it resolved quickly (or at least get an answer as to what is happening)

[2020-09-17 20:28] tforkmann commented on #365
Thanks Isaac!
Tested it today! Works!

Merci!

[2020-09-18 00:35] isaacabraham commented on #323
@alex-frankel thanks for helping. We now have determined that this field does nothing and will be deprecated. Therefore we will remove it from Farmer, probably from v1.1 (even though this is a breaking change) as the keyword is misleading and should be removed.

[2020-09-18 19:06] TheAngryByrd opened #368 "Running Farmer without Azure CLI tools results in cryptic error."
I started a project using the [SAFE template v2](https://github.com/SAFE-Stack/SAFE-template).  When I went to run the `Azure` task, I was getting a cryptic error.

[code]

This was because I didn't have the Azure CLI tools installed. This is a user experience that could be better.

[2020-09-19 22:29] #368 closed

[2020-09-21 10:45] PawelStadnicki opened #370 "How to read existing configuration"
I cannot find it in the docs and wonder if it possible to read existing configuration of App Function (for example).
I know that we can check storage key upon Storage Account creation.
But I would like also to use Farmer as a verification tool to check if the resources contains proper configuration on place.

Is that possible?

[2020-09-22 14:16] jjguijt opened #372 "Change ContainerInstance environment variables from anonymous records to ADT"
Environment variables for containers currently use anonymous records. I think this should be changed to an algebraic data type, because:

* Arguably, the code is more clear.
* Not using anonymous records enables interop from C# (which is important for my use case)

The proposed changes are in #371

Please let me know if there is a better solution.

[2020-09-22 19:36] isaacabraham commented on #370
Hmmmm, that's an interesting idea. I think the closest you could get would be to use the what-if functionality - I *believe* that this supports app settings / configuration. So you could supply a template with the correct configuration and run what-if and analyse the results.

Currently we don't give back a proper "object model" for the what-if - we were waiting until it settles down - but now cou

[2020-09-22 19:37] isaacabraham opened #373 "Web App support for ASP .NET Core Site Extension"
There is apparently a site extension that does magic stuff with logging for .NET Core apps.

https://www.visualstudiogeeks.com/devops/installing-aspnet-core-site-extensions-for-azure-app-service-using-arm

We should turn this on by default in Farmer.

[2020-09-23 12:12] thinkbeforecoding opened #374 "VPNClient configuration on Gateways"
This is a proposal to implement VPN configuration on VirtualNetworkGateway.

[code]
This enables configuration off point to site connection.
the custom methods would be:
* add_address_pool
* add_root_certificate
* add_revoked_certificate
* protocols

When protocols is not specified it fallbacks to SSTP.
Once deployed with the certificate, a client computer where a client certificate signed by the

[2020-09-23 12:41] thinkbeforecoding commented on #374
Working on it 👍

[2020-09-23 17:33] isaacabraham commented on #372
Sounds good.

[2020-09-23 20:35] #265 closed

[2020-09-23 22:22] isaacabraham opened #377 "Add support for Cognitive Services key"
Create a key member and factory function for CS keys.

[2020-09-23 23:25] #377 closed

[2020-09-23 23:26] #372 closed

[2020-09-24 05:25] MNie opened #379 "Bastion support"
Is there a way to configure [Bastion](https://azure.microsoft.com/pl-pl/services/azure-bastion/)?

[2020-09-24 11:10] landy opened #380 "Add support for managed identity"
This is more a place to discuss the right way to add a support for managed identity and how to configure and connect services with it.

Currently there is a way to enable managed identity on web app so it needs to be added to the rest of the services supporting it

We need to come up with a design how to assign identity roles to the services.

[2020-09-25 06:38] jfellien opened #381 "CosmosDB Account name validation"
As I tried to create a CosmosDB Account I entered a wrong name which wasnt catched by name validation like in storage account. I would prefer to have a validation in CosmosDB Account naming too.

This is the message from Azure CosmosDB Acount creation process:
"The name can contain only lowercase letters, numbers and the '-' character, and must be between 3 and 44 characters"

[2020-09-25 17:06] isaacabraham commented on #381
I was hoping to put in a more complete naming validation feature for 1.1 but I am pushing that to 1.2, so we can put this in for now.

[2020-09-25 17:07] isaacabraham commented on #380
Exactly right. The WebApp / KeyVault pairing was a kind of "one-off" with little thought given to a more generalised solution. With more services offering this e.g. Storage and SQL, we should identify a list of services that we want to support and come up with a pattern for doing it.

[2020-09-25 17:09] isaacabraham commented on #379
Currently no support but it appears as thought it's "just" this extra ARM resource that needs adding: https://github.com/Azure/azure-quickstart-templates/blob/master/101-azure-bastion/azuredeploy.json#L100

I have no clue what Bastion is or how people consume it though - is it something we can add to an existing builder or does it need its own one? cc @ninjarobot

[2020-09-25 17:11] isaacabraham opened #382 "Automatically create dependencies"
For some keywords e.g. `settings` on WebApp, we should be able to implicitly add the dependency having to set it separately.

[2020-09-26 12:40] jfellien commented on #381
Sounds reasonable.

Maybe it makes sense to close the issue then?

[2020-09-26 22:21] isaacabraham commented on #379
@ninjarobot lol guess you did it yourself :-)

[2020-09-26 22:46] #379 closed

[2020-09-26 23:33] isaacabraham commented on #381
Hmmm. Not really - I'm not planning on implementing all validation rules, but rather putting in a pattern and set of types to do it. We'll then need to implement it across all resources as needed.

[2020-09-26 23:34] isaacabraham commented on #311
@onionhammer @BrianVallelunga what do both of you think of this proposal above?

[2020-09-27 14:56] onionhammer commented on #311
Sounds great as long as I can specify kind of "BlockBlobStorage" and tier of "Premium"!

[2020-09-27 17:23] BrianVallelunga commented on #311
Yes, this seems reasonable to me as well. I'm definitely in the camp of "as long as it is possible" for this. I'll be getting back trying to use Farmer in production in the next two weeks so I'll hopefully be able to give it a try then.

[2020-09-27 17:35] #382 closed

[2020-09-27 17:36] #348 closed

[2020-09-27 17:37] isaacabraham commented on #327
Both json files you've included appear to be the same?

[2020-09-28 12:12] mymo2202 commented on #381
H

[2020-09-28 12:12] mymo2202 commented on #381
D

[2020-09-28 19:53] raymens opened #387 "Add support for Azure App Configuration"
https://docs.microsoft.com/en-us/azure/azure-app-configuration/

The ARM template is quite terse, but it's perhaps handy to have it when it's part of a deployment.

[2020-09-29 05:40] MNie opened #389 "Translation of subnets seems to be not working"
I try to add a subnet to virtual network configuration. But I realise that generated ARM template doesn't contain the subnet. My configuration looks as follows:

[code]

While generated ARM template looks like this:

[code]

As you may see the only subnet added to the VirtualNetwork is a machine subnet. When I remove creation of a machine from the script, the template looks as follows:

[code]

I

[2020-09-29 08:04] raymens commented on #373
You mean by default or by default when the .NET Core stack is selected in `runtime_stack`?

[2020-09-29 18:48] isaacabraham commented on #389
cc @ninjarobot

[2020-09-29 18:49] isaacabraham commented on #389
@MNie I'm wondering if the subnet needs to be added to the `arm { }` block as well

[2020-09-29 19:35] isaacabraham commented on #387
I've heard about this. Out of curiosity, where is the overlap between this and, say, keyvault?

[2020-09-29 19:49] raymens commented on #387
It is a similar principle but built more for non-secret configuration. It also allows you to label specific settings so that you can adjust configuration on the fly for specific services, environments or whatever label you can think of or just use a single configuration set for multiple services and only adjust it once for all.

The configuration is loaded dynamically and thus there is no server r

[2020-09-29 19:59] MNie commented on #389
@isaacabraham I tried with subnet specified in `arm { }` and in `add_subnets [{ }]`. Both options didn't work.

[2020-09-29 20:00] #374 closed

[2020-09-29 20:00] isaacabraham commented on #389
Can you post the full template sample somewhere?

[2020-09-29 20:03] isaacabraham commented on #389
OK - I think this might be partly due to the fact that the `depends_on` on a VM does absolutely nothing - it was never actually hooked up all the way through!

[2020-09-29 20:03] isaacabraham commented on #389
I noticed this the other day and removed it

[2020-09-29 20:07] isaacabraham commented on #389
Thanks @ninjarobot ! Just realised the same - `link_to_vnet` is required to connect them up. I wonder if we can "fail fast" on such a situation that you've highlighted i.e. a "half configured" VNet added to the VM e.g. link to vnet is called but not subnet name etc.

[2020-09-30 12:21] MNie commented on #389
@ninjarobot , @isaacabraham thanks to [that](https://github.com/CompositionalIT/farmer/issues/389#issuecomment-700955597) everything seems to be working as expected. Thank you!

[2020-09-30 12:21] #389 closed

[2020-10-01 16:12] JordanMarr opened #390 "Add a self Id lookup for keyVault accessPolicy"
It would be cool if when creating a access policy if there was an easy way to add yourself without having to manually look up your Id.

So instead of using "object_id", if there was "my_id" or something like that.

For example, instead of this:
[code]

... you could do this:
[code]

or maybe
[code]

[2020-10-01 19:05] #290 closed

[2020-10-01 19:06] isaacabraham commented on #290
The main integration is in. I think we should create a new issue to discuss the bigger issue of the circular references.

[2020-10-03 22:44] isaacabraham commented on #373
@raymens yes, I presume so. I would like to know what's required for non-net core apps as well to automatically get tracing writing out - I can't find much docs on this.

[2020-10-04 10:38] pviotti opened #392 "ARM Template Toolkit validation"
Microsoft recently [introduced](https://azure.microsoft.com/en-us/blog/simplifying-declarative-deployments-in-azure/) a tool to validate ARM templates. I haven't looked into it much, but it seems to be a set of PowerShell Core cmdlets that validate ARM templates. It may be useful to be able to invoke them from Farmer as an optional validation step. https://github.com/Azure/arm-ttk

[2020-10-04 12:46] isaacabraham commented on #392
Mmmm. Taking a dependency on Powershell as well as the CLI is something I'd prefer not to do, but on the other hand, having more validation is definitely a good thing.

[2020-10-04 12:54] isaacabraham commented on #390
There is actually already a wrapper around CLI to retrieve your Principal ID:

[code]

Is this sufficient or do we need something more than that?

[2020-10-04 13:02] isaacabraham opened #393 "Merging resource paths with operators"
Occasionally you need to merge resource paths when creating Farmer builders or especially ARM wrappers. This includes things like parent / child resources e.g. SQL (server + db), Event Hub (namespace and hub) etc.. Previously, we used to manually construct these using e.g. `sprintf`:

[code]

Now we have an operator to do this, which also works with raw strings:

[code]

However, we could also ove

[2020-10-04 16:17] JordanMarr commented on #390
Now I see you mentioned this in the "Utilities" section of the Key Vault docs. For some reason I completely skipped over that and only looked at the examples.

It does seem that all the builders are very declarative which makes the imperative nature of the utility functions seem a little out of place. They are not as "in line" with the declarative nature of Farmer.

With that said, they will defin

[2020-10-04 16:17] #390 closed

[2020-10-05 06:55] MNie commented on #393
:+1: for `/` operator.

Another idea would be to add `child_of` property which could automatically add `prefix` for `child resource(s)`(?)

Like:

[code]

But, personally prefer the `/` approach.

[2020-10-05 14:54] Ryan-Palmer-CIT opened #396 "Start and End address is in wrong order when setting SQL Server IP range"
I received and error telling me that my start address needed to be smaller than my end address, swapping the arg order fixed it.

[2020-10-05 16:52] isaacabraham commented on #396
Fixed in 1.1.1.

[2020-10-05 16:52] #396 closed

[2020-10-06 10:01] l3m opened #397 "Configuring AD, AD B2C tenants and App/Enterprise App Registrations"
Configuring an AD or AD B2C tenant and setting up app registrations can be tricky, and many settings that interact are placed in different blades and panels. I think it could add a lot of value if Farmer could be used to configure that, especially given that ansible support for it is lacking.

So I guess this is a feature request :)

[2020-10-07 23:55] lqdev opened #398 "Azure Machine Learning Resources"
Add Azure Machine Learning Resource.

Here is a 101 sample ARM template to create a workspace. It's a good place to start off implementing basic creation features. I'd be happy to help implement this.

https://github.com/Azure/azure-quickstart-templates/tree/master/101-machine-learning-create

[2020-10-09 12:04] Dzoukr opened #401 "Invalid template: Storage account API version with Standard_RAGZRS account type"
Hello, I accidentally fell into this type of error when Farmer's output template is not valid according to Azure:

[code]

Validation fails with:

**Message:** The template deployment 'Microsoft.Template' is not valid according to the validation procedure.
**Details:**

[code]

[2020-10-09 18:13] viktorvan opened #402 "Add command to containerInstance in ACI"
I would like to be able to specify additional commands to run when starting a container in Azure Container Instances.
The `command` in properties in the container instance:

[code]

It looks simple enough to add a new custom-operation `command_line` to the containerInstance CE and add the `command` array to the json arm output. I’d be happy to make a PR if there are no other things I might have mi

[2020-10-11 14:31] mymo2202 commented on #381
Dependency	[jasmine-node](https://github.com/mhevery/jasmine-node)

[2020-10-11 19:16] isaacabraham commented on #401
We should provide update the API then.

[2020-10-11 21:11] viktorvan opened #404 "It should be possible to create a container group without a public IP address"
**Describe the bug**
It should be possible to create a container group without a public IP address.

**To Reproduce**
Do not set any ip address in the containerGroup builder:

[code]

**Actual behavior**

The generated json-template still contains a property for ip-address, with an empty ports list:

[code]

Trying to deploy this template causes the following ValidationError:

[code]

**Expected b

[2020-10-11 21:16] viktorvan commented on #402
I have started to implement this, but when trying to verify it with a simple example, I ran in to the bug described here #404. I think I will wait with sending a PR for this, until we have decided on how to deal with that issue. Maybe both issues can be fixed in the same PR.

[2020-10-13 14:32] MoeJw opened #405 "Support for Azure Monitor logic apps in Farmer"
Sometimes we need To get richer debugging information about logic apps during runtime, we can set up and use Azure Monitor logs to record and store information about runtime data and events, such as trigger events, run events, and action events in a Log Analytics workspace and get something like this

![image](https://user-images.githubusercontent.com/42002662/95859700-ae2e6200-0d67-11eb-830d-e3cb

[2020-10-13 14:55] isaacabraham commented on #405
Sounds good :-) I've been very busy the last week but will address the PR you've added as soon as I can.